<div class="container-liquid results detail">
  <div class="hidemap">
    <button type="button" class="btn btn-info btn-xs"><span>Hide Map</span> <i class="fa fa-map-marker"></i></button>
  </div>
  <div class="row maprow">
    <div class="col-md-6 col-md-push-6">
      <div class="list detail-view">
        <div class="row" style="height:30px;">
          <div class="col-sm-3">
            <div class="btn-group">
            	<a class="btn btn-sm btn-default" href="" ng-click="showPropertyResults();"><i class="fa fa-arrow-circle-o-left"></i> Back to List</a>
            </div>
          </div>
		  <div id="headertabs col-sm-9">
			  <div class="tabs" style="height:25px;">
				  <ul class="nav nav-pills" id="myTab" ng-init="detailsSubtab='Overview'">
					<li class="active"><a href="" data-toggle="tab" ng-click="detailsSubtab='Overview'">OVERVIEW</a></li>
					<li><a href="" data-toggle="tab" ng-click="detailsSubtab='Details'">DETAILS</a></li>
					<li><a href="" data-toggle="tab" ng-click="detailsSubtab='Amenities'">AMENITIES</a></li>
					<li><a href="" data-toggle="tab" ng-click="detailsSubtab='Photos'">PHOTOS</a></li>
					<li><a href="" data-toggle="tab" ng-click="detailsSubtab='Contact'">CONTACT</a></li>
				  </ul>
			  </div>
		  </div>
        </div>
             
        <div class="tabs" style="height:400px; overflow-y:visible;">
         
          <div class="tab-content">
			<h4>{{property.details.title}}</h4>
            <div class="tab-pane active" id="tab0" ng-show="detailsSubtab==='Overview'">
			
		
		
			<div class="wrap-details">
			<table class="table table-borderless">
        <tr>
            <td class="detailstd">Property Type:</td>

            <td class="detailstd"><label>{{property.details.propertyType}} - {{property.details.propertySubType}}</label></td>

            <td class="detailstd">is for:</td>

            <td class="detailstd"><label>{{property.details.mode}}</label></td>
        </tr>

        <tr>
            <td class="detailstd">Beds:</td>

            <td class="detailstd"><label>{{property.details.bedRooms}}</label></td>

            <td class="detailstd">Baths:</td>

            <td class="detailstd"><label>{{property.details.bathRooms}}</label></td>
        </tr>

        <tr>
            <td class="detailstd">Build-up Area:</td>

            <td class="detailstd"><label>{{property.details.area.builtUp.builtUp}} {{property.details.area.builtUp.units}}</label></td>

            <td ng-show="property.details.mode==='Sell'">Carpet Area:</td>

            <td class="detailstd"><label>{{property.details.area.carpet.carpet}} {{property.details.area.carpet.units}}</label></td>
        </tr>

        <tr ng-show="property.details.mode=='Sell'">
            <td class="detailstd">Per Unit price:</td>

            <td class="detailstd"><label>{{property.details.area.perUnitPrice}}/Sq.ft
            </label></td>

            <td class="detailstd">plot/land Area:</td>

            <td class="detailstd"><label>{{property.details.area.plotOrLand.plotOrLand}} {{property.details.area.plotOrLand.units}}</label></td>
        </tr>

        <tr>
            <td class="detailstd">Availability:</td>

            <td class="detailstd">
				<label ng-show="!property.details.date">{{property.details.availability}}</label>
				<label ng-show="property.details.date">{{property.details.date | date:'MM/dd/yy'}}</label>
			</td>

            <td class="detailstd">Age of property:</td>

            <td  class="detailstd" ng-show="property.details.ageOfProperty"><label>{{property.details.ageOfProperty.years}} years {{property.details.ageOfProperty.months}} months</label></td>
        </tr>

        
        <tr ng-show="property.details.mode=='Rent'">
            <td class="detailstd">Monthly rent:</td>

            <td class="detailstd"><label class="fa fa-rupee"> {{property.details.monthlyRent}}</label></td>

            <td class="detailstd">Deposit:</td>

            <td  class="detailstd" ng-show="property.details.deposit"><label class="fa fa-rupee"> {{property.details.deposit}}</label></td>
        </tr>

        <tr ng-show="property.details.mode=='Rent'">
            <td class="detailstd">Prefered Tenant:</td>

            <td class="detailstd"><label>{{property.details.preferredTenant}}</label></td>

            <td  class="detailstd" ng-show="property.details.allowNonVeg"><i class="fa fa-check-circle"></i><label>Allow Non-veg</label></td>

            <td  class="detailstd" ng-show="property.details.allowPets"><i class="fa fa-check-circle"></i><label>Allow Pets</label></td>
        </tr>

        <tr ng-show="property.details.mode=='Rent'">
            <td>Maintainance Fee:</td>

            <td><label class="fa fa-rupee"> {{property.details.maintenanceFee}}</label></td>

            <td class="detailstd" ng-show="property.details.mode=='Rent' && property.user.type === 'Agent'">Commision:</td>

            <td class="detailstd" ng-show="property.details.mode=='Rent' && property.user.type === 'Agent' && property.details.commitionInDays">
				<label ng-show="!property.details.fixedPrice">{{property.details.commitionInDays}}</label>
				<label ng-show="property.details.fixedPrice" class="fa fa-rupee"> {{property.details.fixedPrice}}</label>
            </td>
        </tr>
        <tr>
            <td class="overvie-address">Address:</td>

            <td class="overvie-address"><label>{{property.details.address}}</label></td>

            <td class="overvie-address">&nbsp;</td>

            <td class="detailstd"><i class="fa fa-check-circle" ng-show="property.details.propertyStatus"></i><label>{{property.details.propertyStatus}}</label></td>
        </tr>
		 </table>
		 
		 <table class="table table-borderless" ng-show="property.details.mode=='Sell'">
			<tr ng-show="property.details.price">
				<td style="padding-left: 14px;">Total Price:</td>
				<td class="detailstd"><label class="fa fa-rupee"> {{property.details.price.price}}</label></td>
				<td class="detailstd" ng-class="{vis-hidden :property.details.price.negotiable}"><i class="fa fa-check-circle"></i> <label>Negotiable</label></td>
				<td class="detailstd" ng-class="{vis-hidden :property.details.price.negotiable}"><i class="fa fa-check-circle"></i> <label>Registration Fee included</label></td>
			</tr>
		</table>
	</div>


			</div>
			
		
			
            <div class="tab-pane active" id="tab1" ng-show="detailsSubtab==='Details'">
	<div class="wrap-details">
		<table class="table table-borderless" >
        <tr>
            <td class="detailstd">Balconies:</td>

            <td class="detailstd"><label>{{property.specifications.balconies}}</label></td>

            <td class="detailstd">Additional Rooms:</td>

            <td class="detailstd">
				<label>{{property.specifications.additionalRooms}}</label>
				<label ng-show="property.specifications.otherRoom">,</label>
				<label ng-show="property.specifications.additionalRooms">{{property.specifications.otherRoom}}</label>
			</td>
        </tr>

        <tr>
            <td class="detailstd">Directional Facing:</td>

            <td class="detailstd"><label>{{property.specifications.directionalFacing}}</label></td>

            <td class="detailstd">Facing:</td>

            <td class="detailstd">
				<label>{{property.specifications.facing}}</label>
				<label ng-show="property.specifications.otherfacing">,</label>
				<label ng-show="property.specifications.otherfacing">{{property.specifications.otherfacing}}</label>
			</td>
        </tr>

        <tr>
            <td class="detailstd">Floor Number:</td>

            <td class="detailstd"><label>{{property.specifications.floorNumber}}</label></td>

            <td class="detailstd">Total Floors:</td>

            <td class="detailstd"><label>{{property.specifications.totalFloor}}</label></td>
        </tr>
		<tr ng-show="property.details.mode=='Sell'">
            <td class="detailstd">No of Units Available:</td>

            <td class="detailstd"><label>{{property.specifications.unitsAvailable}}</label></td>

            <td class="detailstd">Ownership Type:</td>

            <td class="detailstd"><label>{{property.specifications.ownershipType}}</label></td>
        </tr>
        <tr>
            <td class="detailstd">Type of Electricity:</td>

            <td class="detailstd"><label>{{property.specifications.typeOfElectricity}}</label></td>

            <td class="detailstd">Security Systems:</td>

            <td class="detailstd"><label>{{property.specifications.securitySystem}}</label></td>
        </tr>

        <tr>
		     <td class="detailstd">Flooring:</td>

            <td class="detailstd"><label>{{property.specifications.flooring}}</label></td>
			
            <td class="detailstd" ng-show="property.specifications.houseWith"><i class="fa fa-check-circle"></i><label>{{property.specifications.houseWith}}</label></td>

            <td class="detailstd" ng-show="property.specifications.parking.fourWheelerVisitors"><i class="fa fa-check-circle"></i><label ng-show="property.specifications.parking.fourWheelerVisitors">4 Wheeler Visiting</label></td>

            
        </tr>

        <tr>
            <td class="detailstd">parking:</td>

            <td class="detailstd" ng-show="property.specifications.parking.twoWheeler">
				<label>2 wheeler</label>
				<span style="padding-left:20px;" ng-show="property.specifications.parking.twoWheeler.type"><i class="fa fa-check-circle"></i><label>{{property.specifications.parking.twoWheeler.type}}</label></span>
				<span style="padding-left:20px;" ng-show="property.specifications.parking.twoWheeler.common"><i class="fa fa-check-circle"></i><label>common</label></span>
			</td>
        </tr>
		<tr>
            <td class="detailstd"></td>
            <td class="detailstd" ng-show="property.specifications.parking.fourWheeler">
				<label>4 wheeler</label>
				<span style="padding-left:20px;" ng-show="property.specifications.parking.fourWheeler.type"><i class="fa fa-check-circle"></i><label>{{property.specifications.parking.fourWheeler.type}}</label></span>
				<span style="padding-left:20px;" ng-show="property.specifications.parking.fourWheeler.common"><i class="fa fa-check-circle"></i><label>common</label></span>
			</td>
		</tr>

        
    </table>
				</div>
            </div>
            <div class="tab-pane active" id="tab2" ng-show="detailsSubtab==='Amenities'">
			<div class="wrap-details" ng-show="property.amenities">
             <div class="row aminitieslist">
    
	  <div class="col-sm-4 col-4" ng-show="property.amenities.24HRBackup"><i class="fa fa-check-circle"></i>24Hr backup</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.airConditioned"><i class="fa fa-check-circle"></i>Air conditioned</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.badmintonCourt"><i class="fa fa-check-circle"></i>Badminton court</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.bankATM"><i class="fa fa-check-circle"></i>Bank/ATM</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.banquestHall"><i class="fa fa-check-circle"></i>Banquest Hall</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.barLounge"><i class="fa fa-check-circle"></i>Bar/Lounge</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.basketballCourt"><i class="fa fa-check-circle"></i>Basketball court</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.cafetariaFoodCourt"><i class="fa fa-check-circle"></i>Cafeteria/Food Court</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.clubHouse"><i class="fa fa-check-circle"></i>Club house</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.communityHall"><i class="fa fa-check-circle"></i>Community Hall</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.conferenceRoom"><i class="fa fa-check-circle"></i>Conference Room</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.DTHTelevisionFacility"><i class="fa fa-check-circle"></i>DTH Television Facility</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.gatedCommunity"><i class="fa fa-check-circle"></i>Gated Community</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.generatorBackup"><i class="fa fa-check-circle"></i>Generator Backup</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.gym"><i class="fa fa-check-circle"></i>Gym</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.healthFacilities"><i class="fa fa-check-circle"></i>Health Facilities </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.intercom"><i class="fa fa-check-circle"></i>Intercom </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.internetWifi"><i class="fa fa-check-circle"></i>Internet/wifi</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.laundryService"><i class="fa fa-check-circle"></i>Laundry service</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.library"><i class="fa fa-check-circle"></i>Library</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.lift"><i class="fa fa-check-circle"></i>Lift</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.maintenanceStaff"><i class="fa fa-check-circle"></i>Maintenance staff </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.park"><i class="fa fa-check-circle"></i>Park</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.pipedGas"><i class="fa fa-check-circle"></i>Piped Gas</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Play area </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.powerBackup"><i class="fa fa-check-circle"></i>Power backup</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.privateTerraceGarden"><i class="fa fa-check-circle"></i>Private Terrace/Garden</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.rainWaterHarvesting"><i class="fa fa-check-circle"></i>Rain water harvesting</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.recreationFacilities"><i class="fa fa-check-circle"></i>Recreation facilities</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.ROWaterSystem"><i class="fa fa-check-circle"></i>RO water system</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.security"><i class="fa fa-check-circle"></i>Security </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.serviceGoodsLift"><i class="fa fa-check-circle"></i>Service/Goods lift</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.swimmingPool"><i class="fa fa-check-circle"></i>Swimming pool </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.temple"><i class="fa fa-check-circle"></i>Temple</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.tennisCourt"><i class="fa fa-check-circle"></i>Tennis Court</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.vaastuCompliant"><i class="fa fa-check-circle"></i>Vaastu compliant</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.wasteDisposal"><i class="fa fa-check-circle"></i>Waste Disposal</div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.waterStorage"><i class="fa fa-check-circle"></i>Water storage</div>
     
    </div>
	</div>
            </div>
            <div class="tab-pane active" id="tab3" ng-show="detailsSubtab==='Photos'">
              <p>consectetur adipiscing elit. Curabitur at urna eros, sit amet mattis sem. Curabitur at urna eros, sit amet mattis sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. amet mattis sem.</p>
            </div>
            <div class="tab-pane active" id="tab4" ng-show="detailsSubtab==='Contact'">
	<div class="row" id="contactdetails">
	
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
	   
	   </div>
	
       <div ng-show="property.user.image" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 contactimage">
	   <img src="{{property.user.image}}" width="150px" height="150px" />
	   </div>
	   
	  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">  
	   </div> 
        
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" > 
		
		  <p>
				<i class="fa fa-user"></i>Name : <label class="contact-label">{{property.user.name}}</label>
			</p>
		   <p>
				<i class="fa fa-envelope"></i>E-mail : <label class="contact-label"><a href="{{property.user.email}}">{{property.user.email}}</a></label>
			</p>
			
			<p>
				<i class="fa fa-phone"></i> Phone No : <label class="contact-label">{{property.user.phoneNumber}}</label>
			</p>
			 <p>
				<i class="fa fa-user"></i> <label class="contact-label">{{property.user.type}}</label></p>
		  
			<p>
				<i class="fa  fa-clock-o"></i> Best time to call : <label class="contact-label">[{{property.user.besTimeToCall.from}} to {{property.user.besTimeToCall.to}}]</label>
			</p>
			<p>
				<i class="fa  fa-road"></i> Best way to reach : <label class="contact-label">{{property.user.besWayToReach}}</label>
			</p>
			
			<p ng-show="property.user.type==='Agent' && property.user.companyName">
				<i class="fa fa-user"></i> Agent Company Name : <label class="contact-label">{{property.user.companyName}}</label>
			</p>
			
			<p ng-show="property.user.type==='Agent' && property.user.companyAddress">
				<i class="fa fa-envelope"></i> Agent Company Address : <label class="contact-label">{{property.user.companyAddress}}</label>
			</p>
			
			
			<p ng-show="property.user.type==='Builder' && property.user.companyName">
				<i class="fa fa-user"></i> Builder Company Name : <label class="contact-label">{{property.user.companyName}}</label>
			</p>
			
			<p ng-show="property.user.type==='Builder' && property.user.companyAddress">
				<i class="fa fa-envelope"></i> Builder Company Address : <label class="contact-label">{{property.user.companyAddress}}</label>
			</p>
		
		</div>
    
		</div>
				
		  

            </div>
          </div>
        </div>
		<div class="row" ng-show="false" style="height:80px;">
          <div class="col-sm-4">
            
          </div>
          <div class="col-sm-8 text-left">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i> Like</button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-comments"></i> Comment</button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</button>
             <!-- <button type="button" class="btn btn-default btn-sm contactDetails"><i class="fa fa-user"></i> Contact</button> -->
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-warning"></i> Report</button>
            </div>
          </div>
        </div>
		
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="mapContent">	  
		  <div class="hidemap">
			<button type="button" class="btn btn-info btn-xs"><span>Hide Map</span> <i class="fa fa-map-marker"></i></button>
		  </div>
        <div class="map" id="map"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> </div>
  </div>
</div>
