<div class="container addBlock">
  <div class="row">
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-6">
          <div class="add"></div>
        </div>
        <div class="col-sm-6">
          <div class="add"></div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="locationDisplay">
        <h3><i class="fa fa-caret-down" ng-click="showSelectCitymodal=!showSelectCitymodal"></i>{{city}}</h3>
        <h4>{{locality}}</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="searchForm">
  <div class="row">
	  <div class="col-md-1">
        <label class="control-label">Filter By:</label>
      </div>
      <div class="col-md-2">
        <select class="form-control selectpicker" ng-model="search.propertType">
          <option>Property type</option>
        </select>
      </div>
      <div class="col-md-1">
        <select class="form-control selectpicker"  ng-model="search.beds">
          <option>Beds</option>
        </select>
      </div>
      <div class="col-md-3">
        <div class="input-group price"> <span class="input-group-addon"><i class="fa fa-rupee"></i></span>
          <input type="text" class="form-control pull-left" placeholder="Min" ng-model="search.minPrice" maxlength="999999999">
          <input type="text" class="form-control" placeholder="Max" ng-model="search.maxPrice" maxlength="999999999">
        </div>
      </div>
      <div class="col-md-2">
        <label class="switch-light well" onClick="">
          <input type="checkbox" ng-model="search.purpose">
          <span> <span>Buy</span> <span>Rent</span> </span> <a class="btn btn-success"></a> </label>
      </div>
      <div class="col-md-3 sqft">
        <div class="input-group price "> <span class="input-group-addon input-group-addon_custom">SQFT</span>
          <input type="text" class="form-control pull-left" placeholder="Min" ng-model="search.minSft">
          <input type="text" class="form-control" placeholder="Max" ng-model="search.maxSft">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-liquid results detail">
  <div class="hidemap">
    <button type="button" class="btn btn-info btn-xs"><span>Hide Map</span> <i class="fa fa-map-marker"></i></button>
  </div>
  <div class="row maprow">
    <div class="col-md-6 col-md-push-6">
      <div class="list detail-view">
        <div class="row" style="height:30px;">
          <div class="col-sm-3">
            <div class="btn-group">
            	<a class="btn btn-sm btn-default" href="#"><i class="fa fa-arrow-circle-o-left"></i> Back to List</a>
            </div>
          </div>
         <!-- <div class="col-sm-9 text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i> Like</button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-comments"></i> Comment</button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</button>
              <button type="button" class="btn btn-default btn-sm contactDetails"><i class="fa fa-user"></i> Contact</button>
              <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-chain-broken"></i> Report</button>
            </div>
          </div> -->
		  <div id="headertabs">
		  <div class="tabs" style="height:25px;">
          <ul class="nav nav-pills" id="myTab" ng-init="detailsSubtab='Overview'">
            <li class="active"><a href="" data-toggle="tab" ng-click="detailsSubtab='Overview'">Overview</a></li>
			<li><a href="" data-toggle="tab" ng-click="detailsSubtab='Details'">Details</a></li>
            <li><a href="" data-toggle="tab" ng-click="detailsSubtab='Amenities'">Amenities</a></li>
            <li><a href="" data-toggle="tab" ng-click="detailsSubtab='Photos'">Photos</a></li>
            <li><a href="" data-toggle="tab" ng-click="detailsSubtab='Contact'">Contact</a></li>
          </ul>
		  </div>
		  </div>
        </div>
             
        <div class="tabs" style="height:400px; overflow-y:visible;">
         
          <div class="tab-content">
            <div class="tab-pane active" id="tab0" ng-show="detailsSubtab==='Overview'">
			<h4>Overview</h4>
		
		
			<div class="wrap-details">
			<table class="table table-borderless">
        <tr>
            <td>Property Type:</td>

            <td><label>{{property.details.propertyType}} - {{property.details.propertySubType}}</label></td>

            <td>is for:</td>

            <td><label>{{property.details.mode}}</label></td>
        </tr>

        <tr>
            <td>Beds:</td>

            <td><label>{{property.details.bedRooms}}</label></td>

            <td>Baths:</td>

            <td><label>{{property.details.bathRooms}}</label></td>
        </tr>

        <tr>
            <td>Build-up Area:</td>

            <td><label>{{property.details.area.builtUp.builtUp}} {{property.details.area.builtUp.units}}</label></td>

            <td>Carpet Area:</td>

            <td><label>{{property.details.area.carpet.carpet}} {{property.details.area.carpet.units}}</label></td>
        </tr>

        <tr>
            <td>Per Unit price:</td>

            <td><label>{{property.details.area.perUnitPrice}}/sqft ({{property.details.area.type}})
            </label></td>

            <td>plot/land Area:</td>

            <td><label>{{property.details.area.plotOrLand.plotOrLand}} {{property.details.area.plotOrLand.units}}</label></td>
        </tr>

        <tr>
            <td>Availability:</td>

            <td><label>{{property.details.availability}}<br>
            {{property.details.date}}</label></td>

            <td>Age of property:</td>

            <td><label>{{property.details.ageOfProperty.years}} years {{property.details.ageOfProperty.months}} months</label></td>
        </tr>

        
        <tr>
            <td>Monthly rent:</td>

            <td><label>${{property.details.monthlyRent}}</label></td>

            <td>Deposit:</td>

            <td><label>${{property.details.deposit}}</label></td>
        </tr>

        <tr>
            <td>Prefered Tenant:</td>

            <td><label>{{property.details.preferredTenant}}</label></td>

            <td><i class="fa fa-check-circle"></i><label>Allow Non-veg</label></td>

            <td><i class="fa fa-check-circle"></i><label>Allow Pets</label></td>
        </tr>

        <tr>
            <td>Maintainance Fee:</td>

            <td><label>${{property.details.maintenanceFee}}</label></td>

            <td>Commision:</td>

            <td><label>{{property.details.commitionInDays}}<br>
            ${{property.details.fixedPrice}}</label></td>
        </tr>
        <tr>
            <td class="overvie-address">Address:</td>

            <td class="overvie-address"><label>{{property.details.address}}</label></td>

            <td class="overvie-address">&nbsp;</td>

            <td><i class="fa fa-check-circle"></i><label>{{property.details.propertyType}}</label></td>
        </tr>
		 </table>
		 
		 	<table class="table table-borderless">
		<tr>
            <td>Total Price:</td>

            <td><label>${{property.details.price.price}}</label></td>

            <td><i class="fa fa-check-circle"></i> <label ng-show="property.details.price.negotiable">Negotiable</label></td>

            <td><i class="fa fa-check-circle"></i> <label ng-show="property.details.price.registrationFeeIncluded">Registration Fee included</label></td>
        </tr>

    </table>
	</div>


			</div>
			
		
			
            <div class="tab-pane active" id="tab1" ng-show="detailsSubtab==='Details'">
				
					<h4>Details</h4>
	<div class="wrap-details">
		<table class="table table-borderless" >
        <tr>
            <td>Balconies:</td>

            <td><label>{{property.specifications.balconies}}</label></td>

            <td>Additional Rooms:</td>

            <td><label>{{property.specifications.additionalRooms}}</label></td>
        </tr>

        <tr>
            <td>Directional Facing:</td>

            <td><label>{{property.specifications.directionalFacing}}</label></td>

            <td>Facing:</td>

            <td><label>{{property.specifications.facing}}</label></td>
        </tr>

        <tr>
            <td>Floor Number:</td>

            <td><label>{{property.specifications.floorNumber}}</label></td>

            <td>Total Floors:</td>

            <td><label>{{property.specifications.totalFloor}}</label></td>
        </tr>
		<tr>
            <td>No of Units<br>
            Available:</td>

            <td><label>{{property.specifications.unitsAvailable}}</label></td>

            <td>Ownership Type:</td>

            <td><label>{{property.specifications.ownershipType}}</label></td>
        </tr>
        <tr>
            <td>Type of Electricity:</td>

            <td><label>{{property.specifications.typeOfElectricity}}</label></td>

            <td>Security Systems:</td>

            <td><label>{{property.specifications.securitySystem}}</label></td>
        </tr>

        <tr>
		     <td>Flooring:</td>

            <td><label>{{property.specifications.flooring}}</label></td>
			
            <td><i class="fa fa-check-circle"></i><label>{{property.specifications.houseWith}}</label></td>

            <td><i class="fa fa-check-circle"></i><label ng-show="property.specifications.parking.fourWheelerVisitors">4 Wheeler Visiting</label></td>

            
        </tr>

        <tr ng-show="property.specifications.parking.twoWheeler">
            <td>parking:</td>

            <td><label>2 wheeler<br>
            4 wheeler</label></td>

            <td><i class="fa fa-check-circle"></i><label>{{property.specifications.parking.twoWheeler.type}}</label></td>

            <td ng-show="property.specifications.parking.twoWheeler.common"><i class="fa fa-check-circle"></i><label>common</label></td>
        </tr>
		<tr ng-shoe="property.specifications.parking.fourWheeler">
            <td></td>

            <td><label>2 wheeler<br>
            4 wheeler</label></td>

            <td><i class="fa fa-check-circle"></i><label>{{property.specifications.parking.fourWheeler.type}}</label></td>

            <td ng-show="property.specifications.parking.fourWheeler.common"><i class="fa fa-check-circle"></i><label>common</label></td>
        </tr>

        
    </table>
				</div>
            </div>
            <div class="tab-pane active" id="tab2" ng-show="detailsSubtab==='Amenities'">
			<h4>Amenities</h4>
			<div class="wrap-details">
             <div class="row aminitieslist">
    
      <div class="col-sm-4 col-4" ng-show="property.amenities.swimmingPool"><i class="fa fa-check-circle"></i>Swimming pool </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Play area </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.healthFacilities"><i class="fa fa-check-circle"></i>Health Facilities </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.recreationFacilities"><i class="fa fa-check-circle"></i>Recreation facilities </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.maintenanceStaff"><i class="fa fa-check-circle"></i>Maintenance staff </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.security"><i class="fa fa-check-circle"></i>Security </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.intercom"><i class="fa fa-check-circle"></i>Intercom </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.clubHouse"><i class="fa fa-check-circle"></i>Club house</div>
	  <!--<div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Swimming pool </div>-->
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Play area </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Health Facilities </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Recreation facilities </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Maintenance staff </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Security </div>
	  <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Intercom </div>
      <div class="col-sm-4 col-4" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Club house</div>
      
    </div>
	</div>
            </div>
            <div class="tab-pane active" id="tab3" ng-show="detailsSubtab==='Photos'">
			<h4>Photos</h4>
              <p>consectetur adipiscing elit. Curabitur at urna eros, sit amet mattis sem. Curabitur at urna eros, sit amet mattis sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. amet mattis sem.</p>
            </div>
            <div class="tab-pane active" id="tab4" ng-show="detailsSubtab==='Contact'">
              <h4>Contact</h4>
	<div class="row" id="contactdetails">
	
	<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
	   
	   </div>
	
       <div ng-show="property.user.image" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 contactimage">
	   <img src="{{property.user.image}}" width="150px" height="150px" />
	   </div>
	   
	  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">  
	   </div> 
        
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" > 
		
		  <p>
				<i class="fa fa-user"></i>Name : <label class="contact-label">{{property.user.name}}</label>
			</p>
		   <p>
				<i class="fa fa-envelope"></i>E-mail : <label class="contact-label"><a href="{{property.user.email}}">{{property.user.email}}</a></label>
			</p>
			
			<p>
				<i class="fa fa-phone"></i> Phone No : <label class="contact-label">{{property.user.phoneNumber}}</label>
			</p>
			 <p>
				<i class="fa fa-user"></i> <label class="contact-label">{{property.user.type}}</label>:</p>
		  
			<p>
				<i class="fa  fa-clock-o"></i> Best time to call : <label class="contact-label">[{{property.user.besTimeToCall.from}} to {{property.user.besTimeToCall.to}}]</label>
			</p>
			<p>
				<i class="fa  fa-road"></i> Best way to reach : <label class="contact-label">property.user.besWayToReach</label>
			</p>
			
			<p ng-show="property.user.type==='Agent' && property.user.companyName">
				<i class="fa fa-user"></i> Agent Company Name : <label class="contact-label">{{property.user.companyName}}</label>
			</p>
			
			<p ng-show="property.user.type==='Agent' && property.user.companyAddress">
				<i class="fa fa-envelope"></i> Agent Company Address : <label class="contact-label">{{property.user.companyAddress}}</label>
			</p>
			
			
			<p ng-show="property.user.type==='Builder' && property.user.companyName">
				<i class="fa fa-user"></i> Builder Company Name : <label class="contact-label">FatHome</label>
			</p>
			
			<p ng-show="property.user.type==='Builder' && property.user.companyAddress">
				<i class="fa fa-envelope"></i> Builder Company Address : <label class="contact-label">kukatpally, Hyderabad</label>
			</p>
		
		</div>
    
		</div>
				
		  

            </div>
          </div>
        </div>
		<div class="row" style="height:80px;">
          <div class="col-sm-4">
            
          </div>
          <div class="col-sm-8 text-left">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i> Like</button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-comments"></i> Comment</button>
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</button>
             <!-- <button type="button" class="btn btn-default btn-sm contactDetails"><i class="fa fa-user"></i> Contact</button> -->
              <button type="button" class="btn btn-default btn-sm"><i class="fa fa-warning"></i> Report</button>
            </div>
          </div>
        </div>
		
      </div>
    </div>
    <div class="col-md-6 col-md-pull-6">
      <div class="mapContent">	  
		  <div class="hidemap">
			<button type="button" class="btn btn-info btn-xs"><span>Hide Map</span> <i class="fa fa-map-marker"></i></button>
		  </div>
        <div class="map" id="map"> </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"> </div>
  </div>
</div>
