html, body {margin:0; padding:0;}
h1,h2,h3,h4,h5,h6,.tagline{font-family: arial,sans-serif;}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a{ color:#159CEB;}
a:focus{outline: none;}
button::-moz-focus-inner{border: 0;}
.navbar-brand { background:url(../images/fathome.png) no-repeat center; width:124px; height:42px; text-indent:-9999px;padding-top:11px;padding-bottom:11px}
.navbar > .container .navbar-brand{ margin-left:0px;}
.navbar { min-height:42px; box-shadow:0px 2px 2px rgba(0,0,0,0.4); border-radius:inherit; margin-bottom:0;z-index:9999}
.navbar-nav>li>a {padding-top:11px;padding-bottom:11px}
.nav li div{ color:#999999; padding:11px 15px; display:inline-block; background:#000;}
.nav li div a{ color:#fff;}
.nav li div a:hover,.nav li div a:active,.nav li div a:visited{ text-decoration:none}
.home-modal{ display:block; position:absolute; overflow:initial}
.home-modal .modal-dialog{ margin-top:10%; width: 438px; height: auto;}
.modal-content{ 
 -webkit-border-radius: 10px; 
 -moz-border-radius: 10px; 
 border-radius: 10px; 
 background-color: rgba(255,255,255,0); 
 -webkit-box-shadow: 0 0 16px #000; 
 -moz-box-shadow: 0 0 16px #000; 
 box-shadow: 0 0 16px #000; 
 border: solid 6px rgba(83,83,83,.8); 
 background-image: -webkit-linear-gradient(bottom, rgba(255,244,202,.5), rgba(255,255,255,.9)); 
 background-image: -moz-linear-gradient(bottom, rgba(255,244,202,.5), rgba(255,255,255,.9)); 
 background-image: -o-linear-gradient(bottom, rgba(255,244,202,.5), rgba(255,255,255,.9)); 
 background-image: linear-gradient(to top, rgba(255,244,202,.5), rgba(255,255,255,.9));
}
.btn-primary{
	background-image: -webkit-linear-gradient(bottom, #3e3e3e, #565656); background-image: -moz-linear-gradient(bottom, #3e3e3e, #565656); background-image: -o-linear-gradient(bottom, #3e3e3e, #565656); background-image: linear-gradient(to top, #3e3e3e, #565656); border:none; color:#ffcc00;
}
.btn-success{
	background-image: -webkit-linear-gradient(bottom, #28b779, #2fe294); background-image: -moz-linear-gradient(bottom, #28b779, #2fe294); background-image: -o-linear-gradient(bottom, #28b779, #2fe294); background-image: linear-gradient(to top, #28b779, #2fe294); border-color:#28b779; color:#ffcc00;
}
.headerbutton .btn-info{
	background-image: -webkit-linear-gradient(bottom, #FFCC00, #FFCC00); background-image: -moz-linear-gradient(bottom, #FFCC00, #FFCC00); background-image: -o-linear-gradient(bottom, #FFCC00, #FFCC00); background-image: linear-gradient(to top, #FFCC00, #FFCC00); border-color:#B19112 !important; color:#fff;
}
img {
  /* Silly IE...  Doesn't use bicubic by default... */
  -ms-interpolation-mode: bicubic;
}
#homepage {
 /*background-image:url(../images/a1.jpg);*/
 background-size: 100% 100%;
 min-height:600px;
 background-repeat: no-repeat;
 }

.home-modal .modal-footer{ margin-top:0; padding-top:0; border-top:none;}
.home-modal .modal-header{ border-bottom:none; text-align:center; padding-bottom:0;}
.home-modal .modal-header img{ display:inline-block; vertical-align:top}
.home-modal .modal-header h2{ display:inline-block; text-transform:uppercase; text-align:left; line-height:30px; margin-top:5px;}
.home-modal .modal-header h2 span{ color:#ffcc00; display:block}
.home-modal .modal-body { padding-bottom:0;}
@media (min-width: 200px) and (max-width: 480px) {
	.home-modal .modal-dialog{ margin-top:50px; width: 100%; height:auto;}
}
.circle{
	width: 135px; height: 135px; line-height: 135px; text-align:center; -webkit-border-radius: 67px 68px 68px 67px/67px 67px 68px 68px; -moz-border-radius: 67px 68px 68px 67px/67px 67px 68px 68px; border-radius: 67px 68px 68px 67px/67px 67px 68px 68px; background-color: #fc0; font-size:40px; margin:0 auto; color:#fff;
	}

.home .services{ margin:30px 0; width:100%}

.tagline{ padding:30px; font-size:30px; text-align:center; background:#404040; color:#FFF; margin-bottom:30px;}
.tagline a{ background: #fc0; color:#fff;}
footer{ text-align:center; padding-bottom:0px;}
.footer-icons{ font-size:30px; margin-top:20px;}
.footer-icons a{color:#404040;}
.footer-icons a:hover{ text-decoration:none}

.add{ height:132px; background:#CCC}
.addBlock{ 
margin-top: 8px;
margin-bottom: 8px;
margin-left: 12px;
margin-right: 8px;
max-width:98%}

.searchForm{ padding:5px;}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]){ width:100%}
.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"]{ margin-bottom:0;}
@media (max-width: 990px) {	
	.searchForm .col-md-1,.searchForm .col-md-2,.searchForm .col-md-3{ margin-bottom:10px}
	.searchForm .row > .col-md-1:last-child{ margin-bottom:0;}
}
.input-group.price .form-control{ width:50%;}
.input-group.price .form-control:last-child{border-left:none;}
.searchForm .btn-primary{ width:100%}
.searchForm .well .btn-primary{ width:50%}
.searchForm .switch-light.well{ margin-left:0; min-height:34px; margin-bottom:0; cursor:pointer; font-weight:normal;}
.switch-light a {
      display: block;
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
	  .switch-light input:focus ~ a, .switch-light input:focus + label {
      outline:none; }
.switch-light span {
        color:#fff; }
		.switch-light span span:last-child{
        color:#A9A9A9; }
		.switch-light input:checked ~ span span {
        color:#A9A9A9; }
		.switch-light input:checked ~ span span:last-child {
        color:#fff; }

.map{border:1px solid #ccc;}
.map div {
 line-height: normal ! important;
}
.mapContent{box-shadow:0px 0 10px rgba(0,0,0,0.6) inset; position:relative;}
.hidemap{ position:absolute; left:15px; top:0px; z-index:1}
.hidemap .btn-info{border-radius:0px 0px 4px 0px}
.results{ 
	margin:10px auto;
	position: absolute;
	height: auto;
	width:100%;
	bottom: 0;
	top: 227px;
	min-height:300px;
}

.results .col-md-7,.results .col-md-pull-6{ padding-right:0;}
.results .col-md-5,.results .col-md-push-6{ padding-left:0;}
@media (max-width: 990px){	
.results .col-md-7{ padding-right:15px;}
.results .col-md-5{ padding-left:15px;}
.detail .col-md-6{ padding-left:15px; padding-right:15px;}
}
.list{ border:1px solid #ccc; min-height:350px; /*box-shadow:-2px 0 2px #ccc; */padding:4px;}
.list .scroll{max-height:325px; overflow-y:auto;}
.col-md-5 .list{ border-left:none;}
.list .filter{ margin-bottom:4px;}
.list .filter .btn-default{ background:none; border-left:none; border-radius:0px 4px 4px 0px}

.list-view { padding:10px 0px; border-bottom:1px solid #eaeaea;}
.list-view:hover{ background:#f9f9f9;}
.list-view .image {
	width: 91px;
	height: 107px;
	margin-right: 10px;
	float: left;
	position: relative;
	left: 15px;
 }
.list-view .image img{ width:100%; height:100%;}
.list-view .content{ margin-left:110px; overflow:hidden}
.list-view .content h3{ float:left; color:#1885f0; margin:0; font-size:21px;}


/*.list-view .price{ float:right; color:#28b779; padding-right:0px;}*/

/* change the color of 234/sqft under price in results change the color:#444444;*/
.list-view .price{ float:right; color:#444444; padding-right:0px;}
/* end */

.list-view .content .price h4{ float:none; color:#444444;font-family:arial; margin:0; }

/* price is in bold format, just remove the below font-weight:bold to font-weight:normal, it looks good */
.list-view .content .price h4 span{ font-weight:bold}
/* end */

.properresultssqftlabel{
	position: relative;
	top: -11px;
	height: 0px;
}

/* SQFT space reducing css */
.input-group-addon_custom {  padding: 6px 6px; }
.sqft .input-group.price .form-control{ width:35%;}
/* SQFT space reducing css end*/

.list-view .dateright{ float:right; color:#353535; }

/* increase the size of social media icons in results box main page adjust below padding: 2px 7px; or imply remove below total css and chk too */
.customsocial .btn-sm { padding: 2px 7px; }
/* end */


.list-view .content .price h5{ margin:0; padding-left:10px;font-family:arial}
.list-view .content .row{white-space: nowrap; width: 100%; float:left;}

/*.list-view .firstRow{ font-weight:bold; margin-top:5px;}*/

.list-view .firstRow{ margin-top:5px;}

.list-view .secondRow{ color:#797979; font-size:12px; margin-top:15px;}
.list-view .thirdRow{margin-top:7px;}
.list-view .content .btn-group{ margin-top:6px; visibility:hidden}
.list-view:hover .content .btn-group{ visibility:visible}
.lists-view {
    min-height: 258px;
    overflow-x: hidden;
    bottom: 0;
    clear: both;
    height: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
}
.details-view{ overflow:hidden; overflow-y:auto; min-height:222px;position: relative;}
#signin,#account,#contact,#feedback,#changeLocality,#registerPropertySuccessModal{ z-index:99999;}
#signin .modal-dialog,#account .modal-dialog{ width:500px;}
#signin .form-group,#account .form-group{margin-left:-5px; margin-right:-5px;}
#signin .modal-body,#account .modal-body{ margin-bottom:0; padding-bottom:0; border-bottom:none}
#signin .modal-header,#account .modal-header{ margin-bottom:0; padding-bottom:0; border-bottom:none}
#signin .modal-footer,#account .modal-footer{ margin-top:0; padding-top:0; border-top:none}
#signin .checkbox{ padding-top:0;}

.navbar .icon-facebook-sign{ color:#39F;}
.navbar .icon-google-plus-sign{ color:#C03;}

.big-img{box-shadow:0px 0px 2px rgba(0,0,0,0.4); height:250px; padding:5px; max-width:500px; margin:0 auto;}
.big-img img{width:100%; height:100%;}
.detail-images{ margin:10px;}
.detail-images ul{ text-align:center; width:100%; margin-top:10px;}
.detail-images li{ display:inline-block; width:40px; height:40px; margin:0px 2px;}
.detail-images li img{ width:100%; height:100%; cursor:pointer;}
/*.detail-view h3{ color:#159CEB; margin:10px 10px 0; } */
.detail-view{overflow-y: auto;}
.detail-view h3{ color:#159CEB;  padding:5px 10px 0px; margin-top:10px;}
.detail-images i{ color:#39F;}
#headertabs .tabs{ margin:0px; padding-left:247px;}
.tabs{ margin:0px 0px;}
.tabs .nav>li>a{ padding-top:5px; padding-bottom:5px;}
.tab-content{ padding:5px 10px;}

/*.tab-content{ padding:20px;} */

.checkbox-inline label,.radio-inline label{ font-weight:normal}
.upload-img{ margin-top:5px;overflow: auto;height: 470px;}
.upload-img img{width:150px; height:150px;}
.navbar-btn{margin-bottom: 0px;
    margin-top: 0px; padding-top:9px !important;}



.navbar-inverse .navbar-nav > li > a  > span{
    color: #333333;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}	

.navbar-inverse .navbar-nav > li > a:hover  span {
    color: #ffffff;
	border-color:#333333;
}
.navbar-inverse .navbar-nav > li:last-child{padding-left;0px;}
.fa-facebook-square:before {
content: “\f082″;
font-family: FontAwesome;
color:#4862a3;
}

.fa-google-plus-square:before {
content: “\f0d4″;
font-family: FontAwesome;
color:#da4834;
}

.fa-facebook-square:hover{
    background-color:#ffffff;
}
.fa-google-plus-square:hover{ background-color:#ffffff;}

/* Buy Rent css start....*/
.switch-light span {
        color:#FFCC00; }
		.switch-light span span:last-child{
        color:#333333; }
		.switch-light input:checked ~ span span {
        color:#333333; }
		.switch-light input:checked ~ span span:last-child {
        color:#FFCC00; }

.switch-light .btn-success{
	background-image: -webkit-linear-gradient(bottom, #525252, #404040); 
	background-image: -moz-linear-gradient(bottom, #525252, #404040); 
	background-image: -o-linear-gradient(bottom, #525252, #404040);
	background-image: linear-gradient(to top, #525252, #404040); border-color:#000000;  color:#FFCC15 !important;
}
/* Buy Rent css End ....*/


/* covered uncovered gap */
.coveredun .radio-inline, .checkbox-inline {padding-left: 41px;}
/* end */

.selectsort{min-width:145px;}
.list .moveright{margin-left:120px;}
.property-results-count-block {
	float:right;
	position: relative;
	top: -39px;
	right: -6px;
}
.maprow{margin-right: -10px;}
.maprow .searchresults{padding-left:0px;padding-right: 0px;}
.maprow .mapresults{padding-right:0px;overflow-y: auto;}
.availability{
    text-align: left !important; 
}
.availabilityselect {
    width:84px;
}
.colwidth{width:7.5% !important;}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #20A5F4;
    color: #FFFFFF;
}
.nav-pills > li > a,.nav-pills > li > a:hover,.nav-pills > li > a:focus{background-color: #EEEEEE; border-radius:0px;}



/* Details page*/

.propertyDetails td, .propertyDetails p span{
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 14px !important;
color:#484848 !important;
}

.propertyDetails td label, .contactDetails{
font-size: 13px !important;
color:#484848 !important;
}

.propertyDetails p label{
font-size: 13px !important;
color:#484848 !important;
}

 table.table-borderless tbody tr td:nth-child(odd){text-align:right;} 
 
 table.table-borderless tbody tr td:nth-child(even){padding-left:3%;} 

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #404040;
    color: #FFCC00;
}


.nav-pills > li > a {
    	  color:#000000;
 }

/* 
.nav-pills >li >a {
    color: #282828;
 }
.nav-pills > li > a, .nav-pills > li > a:hover, .nav-pills > li > a:focus { color:#515151;} */

#aminitiesbg{
    background: none repeat scroll 0 0 #E9EAEE;
    border-radius: 5px;
    margin-bottom: 2px;    
    padding:10px 15px 5px;
	border:2px solid #303030;
	}
table.table-borderless td, table.table-borderless th { border-top: none !important;  }

table.table-borderless {margin-bottom:0px !important;}

table.table-borderless tr  td{ padding:0px;  }

table.table-borderless td label{font-size:12px; color:#2B2B2B;} 

table.table-borderless tr {
   line-height: 26px;
   min-height: 26px;
   height: 26px;
}

table.table-borderless td{font-size:12px;}
.wrap-details {
    background: none repeat scroll 0 0 #E9EAEE;
    border-radius: 5px;
    margin-bottom: 1.42857em;    
    padding: 5px 15px 0px;
	margin-right:5px;
	/*border:2px solid #8BC54D;*/
}

.details-border {
    background: none repeat scroll 0 0 #E9EAEE;
    border-radius: 5px;
    margin-bottom: 1.42857em;    
    padding: 5px 15px;
	margin-right:5px;
	border:2px solid #8BC54D;
}

#contactdetails label.move{padding-left:18px;}
#contactdetails i{padding-right:8px;}

#contactdetails .fa-user:before {
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #20A5F4;
  
}

#contactdetails .fa-envelope:before {
    content: "\f0e0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #FFDC36;
  
}

#contactdetails .fa-phone:before {
    content: "\f095";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color:#ED1C24;
  
}

#contactdetails .fa-globe:before {
    content: "\f0ac";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color:#8BC54D;
  
}

#contactdetails .fa-map-marker:before {
    content: "\f041";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color:#4862A3;
  
}

#detailspage .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

/* responsive media query */
@media (max-width: 320px) {
  .col-4 {
    width:100%;
  }
}


.aminitieslist i{padding-right:5px;}

.aminitieslist div{
	padding-bottom:10px;
	font-size: 13px !important;
	font-weight:bold;
	color:#484848 !important;}

.fa-check-circle:before {
    content: "\f058";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #8bc54d;
   
}
#detailstable td label {color: #159CEC;  font-size: 12px;}

#contactdetails .fa-clock-o:before {
    content: "\f017";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #8bc54d;
   
}

#contactdetails .fa-road:before {
    content: "\f018";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color:#ED1C24;
  
}

#contactdetails img{border-radius:5px; }

#contactdetails label {color: #000;  font-size: 12px;}

table.table-borderless td i {padding-right:5px;}


.detailstd {
width:25%;
}

.details-tab-bg {
background: transparent url(../images/gold.gif) center top repeat-y;
margin: 0 auto;
}

.details-tab-row {
position: relative;
margin-left: 48px;
}


.speaker_image {
position: relative;
margin-top: -1px;
}

.schedule_row .left {
width: 42.8333333333%;
text-align: right;
margin-top: -5px;
position: relative;
top: 5px;
}

.schedule_row .left label {
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 14px !important;
color:#484848 !important;
font-weight: 400 !important;
/*margin-top: -5px;*/
}

.schedule_row .right {
width: 42.8333333333%;
margin-top: -5px;
position: relative;
top: 5px;
}

.schedule_row .right label {
font-size: 13px !important;
color:#484848 !important;
/*margin-top: -10px;*/
}

.right {
float: right;
display: inline;
}

.schedule_row .speaker_image {
width: 8.5%;
margin-right: 2.91666666667%;
float: right;
display: inline;
}

.schedule_row .speaker_image.dot {
text-align: center;
}

.push {
clear: both;
}

.no-names .schedule_row {
margin-bottom: 20px;
}

.schedule_row {
width: 100%;
margin-bottom: 50px;
}

.schedule {
background: transparent url(../images/gold.gif) center top repeat-y;
width: 92.75%;
max-width: 1200px;
margin: 0 auto;
}

.no-names h3.schedule_speaker {
font-family: 'Knockout 29 A', 'Knockout 29 B', Helvetica, Arial, sans-serif;
font-weight: 400;
font-size: 3em;
color: #333;
text-transform: capitalize;
margin-bottom: 6px;
}

.left {
float: left;
display: inline;
}

.tabs h4 a {
	display:inline-block;
	width: 100%;
}

















/* padding-right: 15px; *

/* Details page end*/



.errorText {

	color: #a94442;
	margin: 18px;
}

.ng-invalid.ng-dirty {
  border-color: #a94442;
  outline-color: #a94442;
}

/*Register start*/
.agentphoto{position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;}

#contactdetails label.move{padding-left:18px;}

.panellabel label{font-size:13px;}
.from{text-align: left !important; }
.frommain{text-align: left !important; width: 13%;}
.fromto{text-align:left !important; width:4.2% !important;}
input.from{text-align:left !important;}
.ampm{text-align:right !important; width:2.2% !important; padding-left:0px;}
.bcompanyadd{text-align:left !important; width:18%;}

.flooring {text-align:left !important; width:4.2% !important; padding-left:0px;}
.security{text-align:left !important; width:12.2% !important; }
.bcompanyadd{text-align:left !important; width:18%;}

.maintenancefee{text-align:left !important; width:12.2% !important; padding-left:0px;}
.deposit{text-align:left !important; width:6.2% !important; }
.mainfee{padding-left:0px !important; width:15%;}


.register-success-modal{ margin-top:100px; width: 438px; height: auto;}


.resgisterPropertySuccessLabel, .feedbackSubmitSuccessLabel {
color: #468847;
padding: 15px;
font-size: 16px;
border-color: #d6e9c6;
top: 2px;
position: relative;
}


.resgisterPropertyHeaderLabel{
	width: 235px;
	display: inline-block;
}

.register-property-info-text{color:#F87217;font-weight:bold;font-style:italic;font-size:32px;padding-right:20px;}

.hint-text {
	font-size: 10px !important;
	color: #484848;
	font-weight:normal;
}


/*Register end*/

/*Contact page start*/
.iconDetails {
 margin-right: 6%;
height:40px;
width:40px;	

} 

.flag {text-align: center;margin:15px;clear:both;}
.flag label{padding-top:3%; font-size:15px;}


/*Contact page end*/

/*Feedback page start*/
.optional{ color: #333333;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.5;
    padding-left: 3.5%; 
}
.thankyou{color:#a94442;font-weight:bold;}
.feedbackformgap{margin-bottom:20px;}
/*Feedback page end*/

/*Select city page start*/

.selectCityModal{width:400px;}
.selectCityModalContent{margin-top:0px; margin-bottom:0px;}
.selectCityModalFooter{margin-top:0px; padding-top:0px;}

/*Select city page end*/

.changeLocalityDiv
{
text-align: center;
height: 100%;
position: relative;
top: 40px;
left: -10px;
}

.locationDisplay{ 
	position: relative;
left: -62px;
top: 8px;
}

.changeLocalityImage {
	width: 24px;
	height: 24px;
	margin-right: -22px;
	margin-bottom: -6px;
}

.changeLocalityLabel {
	display: block;
	color: #489cdf;
	font-size: 13px;
	font-style: italic;
	line-height: 1.1;
}


.searchForm .filtersdiv {
width: 5%;
}

.searchForm .propertyfilter {
width: 16%;

}

.searchForm .bootstrap-select {
	margin-bottom: 0px !important;
}

.searchForm .pricefilter {
width: 24%;

}
.searchForm .propetyTypefilter{
width: 20%;
min-width:190px;

}
.searchForm .sizefilter  {
width: 25%;

}

.searchForm .bedsfilter {
width: 10%;
}

.searchForm .filtersLabel {
line-height: 2.3 !important;
}

.mandatory:after {
	color: #f00;
    content: ' *';
    display:inline;
	font-size: 11px;
}

.errorText:before {
	background: url('/images/warning.png');
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin-left: -22px;
	margin-right: 7px;
	margin-top: -3px;
	top: 4px;
}

.propertyresultsLabel {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 205px;
	font-weight:100;
	cursor: pointer;
}

.vis-hidden{
    visibility: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.register-property-info-text:before { 
	content: '\201C'; 
	font-size:230%;
	font-family: Times New Roman; 
	padding-right: 0px; 
	color:#333;
} 
.register-property-info-text:after { 
	content: '\201D'; 
	font-size:213%; 
	padding-left: 0px;
	font-family: Times New Roman; 
	color:#333;
}

.property-contact-info {
	padding-top: 0px;
	padding-left: 0px;
	text-align: left;
	position: relative;
	left: -27px;
	top: -13px;
} 

.homebtn {
	font-weight: bold;
	background-color: #3e3e3e !important;
}

.custom-checkbox{
	width: 28px;
	height: 22px;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: url("/images/minus.png") no-repeat;
	opacity:0.8;
}
.custom-checkbox:hover{

}
.custom-checkbox.selected{
	background: url("/images/success_32.gif") no-repeat;
}
.custom-checkbox input[type="checkbox"]{
	margin: 0;
	position: absolute;
	z-index: 2;            
	cursor: pointer;
	outline: none;
	opacity: 0;
	/* CSS hacks for older browsers */
	_noFocusLine: expression(this.hideFocus=true); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
}

.rent-buy-input {
	padding-top: 5px;
	padding-left: 6px;
	padding-bottom: 0px;
	border-radius: 10px;
	width:77px;
}

.rent-buy-input-label{
	position: relative;
	top: -5px;
}

.carousel-control {
  opacity:0.9;
  background:tra
}
.carousel-inner img {
	width:100%;
  	height:100%;
}
.carousel-indicators {
  bottom:-50px;
}

.glyphicon-chevron-left:before {
	content: "\e079";
	position: relative;
	top: 4px;
	left: -2px;
}

.glyphicon-chevron-right:before {
	content: "\e080";
	position: relative;
	top: 4px;
	left: -2px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	background-color: #fff;
	border-radius: 15px;
	opacity:0.9;
	font-size:20px;
	background-image:none;
}

.add .carousel-control .glyphicon-chevron-left, .add .carousel-control .glyphicon-chevron-right {
	opacity:0;
}

.carousel-control.left, .carousel-control.right {
	background-image:none;

}

.add .carousel-indicators {
  bottom:-10px;
}

.carousel-inner {
   margin-bottom:50px;
}
.hide-home-screen {
	opacity:none;
}
.show-home-screen {
	opacity:1;
}
.not-select { 
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        -o-user-select: none; 
} 


.tivoliModal_small {
    display: block !important;
    top : 20% !important;
	left : 36% !important;
    width: 33% !important;
}
.tivoliModal_small textarea {
   padding:2px 1px !important;
}

/* spinner */
#spinner .loading{background:rgba(0,0,0,0.4); height: 100%; left: 0; position: absolute; top:0px; width: 100%; z-index: 1051; text-align:center;}
#spinner .loading i{ color:#fff; margin-top:120px; font-size:30px;}
.loading{background:rgba(0,0,0,0.4); height: 100%; left: 0; position: fixed; top:0px; width: 100%; z-index: 1051; text-align:center;}
.loading i{ color:#fff; margin-top:10%; font-size:30px;}
.modal-dialog{margin:100px auto;}
.fa-refresh:before{content:none !important}
.fa-refresh{background: url("../images/ajax-loader.GIF") no-repeat scroll ;  height:128px; width:128px;}

.full-height {
	height:100%;
}
.property-form-invalid {color: #a94442;font-weight: bold;font-size: 13px;}

.scroll-fix  {
    line-height: 1.35;
	height:75px;
    overflow: hidden  !important;
    white-space: nowrap;
}


.sign-modal .modal-dialog { width: 450px; }
.sign-modal .modal-content { background-color: darkgray; }
.