  <div class="list detail-view full-height">
	<div class="row" style="margin-right:0px;">
	  <div class="col-sm-2">
		<img src="images/icon_back.jpg" title="Back to List" style="cursor:pointer;" ng-click="showPropertyResults();"/>
	  </div>
	  <div class="col-sm-10">
		<h4 class="break-text">{{property.details.title}}</h4>
	  </div>
	</div>
		 
	<div class="tabs">
	 
	  <div class="tab-content details-view">
		<accordion close-others="true" >
			<accordion-group is-open="propertyDetails.showDetailsTab">
			
				<accordion-heading>
					Details <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': propertyDetails.showDetailsTab, 'glyphicon-chevron-right': !propertyDetails.showDetailsTab}"></i>
				</accordion-heading>
			
				<div class="schedule no-names">
					<div class="schedule_row">
						<div class="left">
							<label class="">Property Type</label>
						</div>
						<div class="right">
							<label class="">{{property.details.propertyType}} - {{property.details.propertySubType}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">is for</label>
						</div>
						<div class="right">
							<label class="">{{property.details.mode}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Beds</label>
						</div>
						<div class="right">
							<label class="">{{property.details.bedRooms}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Baths</label>
						</div>
						<div class="right">
							<label class="">{{property.details.bathRooms}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Build-up Area</label>
						</div>
						<div class="right">
							<label class="">{{builtUp.builtUpArea | currencyFormatter}} {{builtUp.builtUpUnits}}</label>
							<select class="form-control input-sm" style="width: 106px;" ng-change="builtUp.builtUpArea=covert(builtUp.builtUpUnits, property.details.area.builtUp.builtUpInSqft)" ng-model="builtUp.builtUpUnits">
								<option ng-repeat="unit in unitOptions" value="{{unit.label}}">{{unit.label}}</option>
							</select>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<!--<div class="schedule_row" ng-show="property.details.mode==='Sell'">
						<div class="left">
							<label class="">Carpet Area</label>
						</div>
						<div class="right">
							<label class="">{{carpetArea}} {{carpetUnits}}</label>
							<select ng-show="property.details.area.carpet" style="width: 106px;" ng-change="carpetArea=covert(carpetUnits, property.details.area.carpet.carpetInSqft)" class="form-control input-sm" ng-options="unit.label as unit.label for unit in unitOptions" ng-model="carpetUnits">
							</select>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>-->
					<div class="schedule_row" ng-show="property.details.mode==='Sell' && property.details.area.perUnitPrice">
						<div class="left">
							<label class="">Per Unit price</label>
						</div>
						<div class="right">
							<label class="">{{property.details.area.perUnitPrice  | currencyFormatter}}/Sq.ft</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode==='Sell'">
						<div class="left">
							<label class="">plot/land Area</label>
						</div>
						<div class="right">
							<label ng-show="!plotOrLand.plotOrLandArea || !plotOrLand.plotOrLandArea.plotOrLand"></label>
							<label class="">{{plotOrLand.plotOrLandArea  | currencyFormatter }} {{plotOrLand.plotOrLandUnits}}</label>
							<select ng-show="plotOrLand.plotOrLandArea" style="width: 106px;" ng-change="plotOrLand.plotOrLandArea=covert(plotOrLand.plotOrLandUnits, property.details.area.plotOrLand.plotOrLandInSqft)" class="form-control input-sm" ng-model="plotOrLand.plotOrLandUnits">
								<option ng-repeat="unit in unitOptions" value="{{unit.label}}">{{unit.label}}</option>
							</select>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Availability</label>
						</div>
						<div class="right">
							<label ng-show="!property.details.date">{{property.details.availability}}</label>
							<label ng-show="property.details.date">{{property.details.date | date:'MM/dd/yy'}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.ageOfProperty">
						<div class="left">
							<label class="">Age of property</label>
						</div>
						<div class="right">
							<label ng-show="!property.details.ageOfProperty.years && !property.details.ageOfProperty.months"></label>
							<label ng-show="property.details.ageOfProperty.years">{{property.details.ageOfProperty.years}} years</label>
							<label ng-show="property.details.ageOfProperty.months">{{property.details.ageOfProperty.months}} months</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Rent'">
						<div class="left">
							<label class="">Monthly rent</label>
						</div>
						<div class="right">
							<label class="fa fa-rupee"></label>
							<label> {{property.details.monthlyRent | currencyFormatter}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.deposit">
						<div class="left">
							<label class="">Deposit</label>
						</div>
						<div class="right">
							<label class="fa fa-rupee"></label>
							<label> {{property.details.deposit | currencyFormatter}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Rent'">
						<div class="left">
							<label class="">Prefered Tenant</label>
						</div>
						<div class="right">
							<label>{{property.details.preferredTenant}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Rent'">
						<div class="left">
							<label class="">Allow</label>
						</div>
						<div class="right">
							<label ng-show="!property.details.allowNonVeg && !property.details.allowPets"></label>
							<div  ng-show="property.details.allowNonVeg"><label>Non-veg</label></div>
							<div  ng-show="property.details.allowPets"><label>Pets</label></div>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Rent'">
						<div class="left">
							<label class="">Maintainance Fee</label>
						</div>
						<div class="right">
							<label ng-show="!property.details.maintenanceFee"></label>
							<label class="fa fa-rupee" ng-show="isValidMaitenanceFee"></label>
							<label ng-show="isValidMaitenanceFee"> {{property.details.maintenanceFee | currencyFormatter}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Rent' && property.user.type === 'Agent'">
						<div class="left">
							<label class="">Agent Commision</label>
						</div>
						<div class="right">
							<label ng-show="!property.details.commitionInDays && !property.details.fixedPrice"></label>
							<div ng-show="property.details.mode=='Rent' && property.user.type === 'Agent' && property.details.commitionInDays">
								<label ng-show="!property.details.fixedPrice">{{property.details.commitionInDays}}</label>
								<label ng-show="property.details.fixedPrice" class="fa fa-rupee"></label>
								<label ng-show="property.details.fixedPrice"> {{property.details.fixedPrice | currencyFormatter}}</label>
							</div>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.price">
						<div class="left">
							<label class="">Total Price</label>
						</div>
						<div class="right">
							<label class="fa fa-rupee"> </label><label> {{property.details.price.price | currencyFormatter}}</label>
							<div ng-show="property.details.price.negotiable"><label>Negotiable</label></div>
							<div ng-show="property.details.price.registrationFeeIncluded"><label>Registration Fee included</label></div>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.propertyStatus">
						<div class="left">
							<label class="">Sale Type</label>
						</div>
						<div class="right">
							<label>{{property.details.propertyStatus}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.address">
						<div class="left">
							<label class="">Address</label>
						</div>
						<div class="right label-wrape">
							<p class="break-text">{{property.details.address}}</p>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
				</div>
			</accordion-group>
			<accordion-group is-open="propertyDetails.showSpecificationsTab">
				<accordion-heading>
					Specifications <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': propertyDetails.showSpecificationsTab, 'glyphicon-chevron-right': !propertyDetails.showSpecificationsTab}"></i>
				</accordion-heading>
				<div class="schedule no-names">
					<div class="schedule_row">
						<div class="left">
							<label class="">Balconies</label>
						</div>
						<div class="right">
							<label class="">{{property.specifications.balconies}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Additional Rooms</label>
						</div>
						<div class="right">
							<label ng-show="!property.specifications.otherRoom && !property.specifications.additionalRooms"></label>
							<label ng-show="property.specifications.additionalRooms">{{property.specifications.additionalRooms}}</label>
							<label ng-show="property.specifications.otherRoom && property.specifications.otherRoom.length && property.specifications.additionalRooms">,</label>
							<label ng-show="property.specifications.otherRoom && property.specifications.otherRoom.length">{{property.specifications.otherRoom}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Directional Facing</label>
						</div>
						<div class="right">
							<label>{{property.specifications.directionalFacing}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Facing</label>
						</div>
						<div class="right">
							<label>{{property.specifications.facing}}</label>
							<label ng-show="property.specifications.otherfacing && property.specifications.facing">,</label>
							<label ng-show="property.specifications.otherfacing">{{property.specifications.otherfacing}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Floor Number</label>
						</div>
						<div class="right">
							<label>{{property.specifications.floorNumber}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Total Floors</label>
						</div>
						<div class="right">
							<label>{{property.specifications.totalFloor}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Sell'">
						<div class="left">
							<label class="">No of Units Available</label>
						</div>
						<div class="right">
							<label>{{property.specifications.unitsAvailable}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.details.mode=='Sell'">
						<div class="left">
							<label class="">Ownership Type</label>
						</div>
						<div class="right">
							<label>{{property.specifications.ownershipType}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Type of Electricity</label>
						</div>
						<div class="right">
							<label>{{property.specifications.typeOfElectricity}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Security Systems</label>
						</div>
						<div class="right">
							<label>{{property.specifications.securitySystem}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Flooring</label>
						</div>
						<div class="right">
							<label>{{property.specifications.flooring}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Furnishing</label>
						</div>
						<div class="right">
							<label>{{property.specifications.houseWith}}</label>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Parking</label>
						</div>
						<div class="right">
							<label ng-show="!property.specifications.parking.twoWheeler"></label>
							<label ng-show="property.specifications.parking.twoWheeler && property.specifications.parking.twoWheeler.covered">2 wheeler</label><br>
							<span ng-show="property.specifications.parking.twoWheeler && property.specifications.parking.twoWheeler.covered && property.specifications.parking.twoWheeler.type"><label>{{property.specifications.parking.twoWheeler.type}}</label></span>
							<span style="padding-left:15px;" ng-show="property.specifications.parking.twoWheeler && property.specifications.parking.twoWheeler.covered && property.specifications.parking.twoWheeler.common"><label>common</label></span>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row" ng-show="property.specifications.parking.fourWheeler.covered || property.specifications.parking.fourWheelerVisitors">
						<div class="left">
							<label class="">Parking</label>
						</div>
						<div class="right">
							<label ng-show="!property.specifications.parking.fourWheeler && !property.specifications.parking.fourWheelerVisitors"></label>
							<label ng-show="property.specifications.parking.fourWheeler && property.specifications.parking.fourWheeler.covered">4 wheeler</label><br>
							<span ng-show="property.specifications.parking.fourWheeler && property.specifications.parking.fourWheeler.covered && property.specifications.parking.fourWheeler.type"><label>{{property.specifications.parking.fourWheeler.type}}</label></span>
							<span style="padding-left:15px;" ng-show="property.specifications.parking.fourWheeler && property.specifications.parking.fourWheeler.covered && property.specifications.parking.fourWheeler.common"><label>common</label></span>
							<div ng-show="property.specifications.parking.fourWheelerVisitors"><label>4 Wheeler Visiting</label></div>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
					<div class="schedule_row">
						<div class="left">
							<label class="">Property Description</label>
						</div>
						<div class="right label-wrape">
							<p class="break-text">{{property.specifications.briefDescription}}</p>
						</div>
						<div class="speaker_image dot">
							<img src="images/dot.png" alt="">
						</div>
						<div class="push"></div>
					</div>
				</div>

			</accordion-group>
			<accordion-group is-open="propertyDetails.showAmenitiesTab">
				<accordion-heading>
					Amenities <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': propertyDetails.showAmenitiesTab, 'glyphicon-chevron-right': !propertyDetails.showAmenitiesTab}"></i>
				</accordion-heading>
				<div class="row tab-pane active text-center" id="tab2">
					<div ng-show="property.amenities">
						<div class="aminitieslist text-left">
						  <div class="col-sm-6 col-6" ng-show="property.amenities.24HRBackup"><i class="fa fa-check-circle"></i>24Hr backup</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.24HRWater"><i class="fa fa-check-circle"></i>24Hr Water</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.airConditioned"><i class="fa fa-check-circle"></i>Air conditioned</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.badmintonCourt"><i class="fa fa-check-circle"></i>Badminton court</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.bankATM"><i class="fa fa-check-circle"></i>Bank/ATM</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.banquestHall"><i class="fa fa-check-circle"></i>Banquest Hall</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.barLounge"><i class="fa fa-check-circle"></i>Bar/Lounge</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.basketballCourt"><i class="fa fa-check-circle"></i>Basketball court</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.cafetariaFoodCourt"><i class="fa fa-check-circle"></i>Cafeteria/Food Court</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.clubHouse"><i class="fa fa-check-circle"></i>Club house</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.communityHall"><i class="fa fa-check-circle"></i>Community Hall</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.conferenceRoom"><i class="fa fa-check-circle"></i>Conference Room</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.curtains"><i class="fa fa-check-circle"></i>Curtains</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.curtainHolders"><i class="fa fa-check-circle"></i>Curtain holders</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.cupboards"><i class="fa fa-check-circle"></i>Cupboards</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.DTHTelevisionFacility"><i class="fa fa-check-circle"></i>DTH Television Facility</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.fans"><i class="fa fa-check-circle"></i>Fans</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.gatedCommunity"><i class="fa fa-check-circle"></i>Gated Community</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.generatorBackup"><i class="fa fa-check-circle"></i>Generator Backup</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.geysers"><i class="fa fa-check-circle"></i>Geysers</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.grills"><i class="fa fa-check-circle"></i>Grills</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.gym"><i class="fa fa-check-circle"></i>Gym</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.healthFacilities"><i class="fa fa-check-circle"></i>Health Facilities </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.homeTheater"><i class="fa fa-check-circle"></i>Home Theater </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.indoorGames"><i class="fa fa-check-circle"></i>Indoor Games</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.intercom"><i class="fa fa-check-circle"></i>Intercom </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.internetWifi"><i class="fa fa-check-circle"></i>Internet/wifi</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.laundryService"><i class="fa fa-check-circle"></i>Laundry service</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.library"><i class="fa fa-check-circle"></i>Library</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.lift"><i class="fa fa-check-circle"></i>Lift</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.lights"><i class="fa fa-check-circle"></i>Lights</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.maintenanceStaff"><i class="fa fa-check-circle"></i>Maintenance staff </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.park"><i class="fa fa-check-circle"></i>Park</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.pipedGas"><i class="fa fa-check-circle"></i>Piped Gas</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.playArea"><i class="fa fa-check-circle"></i>Play area </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.powerBackup"><i class="fa fa-check-circle"></i>Power backup</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.privateTerraceGarden"><i class="fa fa-check-circle"></i>Private Terrace/Garden</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.rainWaterHarvesting"><i class="fa fa-check-circle"></i>Rain water harvesting</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.recreationFacilities"><i class="fa fa-check-circle"></i>Recreation facilities</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.ROWaterSystem"><i class="fa fa-check-circle"></i>RO water system</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.security"><i class="fa fa-check-circle"></i>Security </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.serviceGoodsLift"><i class="fa fa-check-circle"></i>Service/Goods lift</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.swimmingPool"><i class="fa fa-check-circle"></i>Swimming pool </div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.temple"><i class="fa fa-check-circle"></i>Temple</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.tennisCourt"><i class="fa fa-check-circle"></i>Tennis Court</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.tt"><i class="fa fa-check-circle"></i>TT</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.vaastuCompliant"><i class="fa fa-check-circle"></i>Vaastu compliant</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.ventilation"><i class="fa fa-check-circle"></i>Ventilation</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.walkingTrack"><i class="fa fa-check-circle"></i>Walking track</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.wasteDisposal"><i class="fa fa-check-circle"></i>Waste Disposal</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.watchmenRoom"><i class="fa fa-check-circle"></i>Watchmen room</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.waterFacility"><i class="fa fa-check-circle"></i>Water facility</div>
						  <div class="col-sm-6 col-6" ng-show="property.amenities.waterStorage"><i class="fa fa-check-circle"></i>Water storage</div>
						</div>
					</div>
				</div>
			</accordion-group>
			<accordion-group is-open="propertyDetails.showPhotosTab">
				<accordion-heading>
					Photos <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': propertyDetails.showPhotosTab, 'glyphicon-chevron-right': !propertyDetails.showPhotosTab}"></i>
				</accordion-heading>
			  <div  class="not-select" style="height: 210px">
				<carousel>
				  <slide ng-repeat="propertyUrl in slides">
					<div property-image url="propertyUrl"></div>
				  </slide>
				</carousel>
			  </div>
			</accordion-group>
			<accordion-group is-open="propertyDetails.showContactTab">
				<accordion-heading>
					Contact <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': propertyDetails.showContactTab, 'glyphicon-chevron-right': !propertyDetails.showContactTab}"></i>
				</accordion-heading>
				 <div class="tab-pane active" id="tab4" style="overflow-y: auto;">
					<div class="row " id="contactdetails" style="margin-top: 30px;">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
							<img ng-show="property.urls.userUrl" ng-src="{{property.urls.userUrl}}" width="100px" height="100px" />
							<img ng-show="!property.urls.userUrl" ng-src="images/blank_person.jpg" width="100px" height="100px" />
						</div>
						<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 property-contact-info"> 
							<div class="schedule no-names">
								<div class="schedule_row">
									<div class="left">
										<label class="">Name</label>
									</div>
									<div class="right">
										<label>{{property.user.name}}</label>
									</div>
									<div class="speaker_image dot">
										<img src="images/dot.png" alt="">
									</div>
									<div class="push"></div>
								</div>
								<div class="schedule_row">
									<div class="left">
										<label class="">E-mail</label>
									</div>
									<div class="right">
										<label ng-show="property.user.email">{{property.user.email}}</label>
										<label ng-show="property.user.primaryEmail">{{property.user.primaryEmail}}</label><br>
										<label ng-show="property.user.secondaryEmail">{{property.user.secondaryEmail}}</label>
									</div>
									<div class="speaker_image dot">
										<img src="images/dot.png" alt="">
									</div>
									<div class="push"></div>
								</div>
								<div class="schedule_row">
									<div class="left">
										<label class="">Phone No</label>
									</div>
									<div class="right">
										<label ng-show="property.user.phoneNumber">+91-{{property.user.phoneNumber}}</label>
										<label ng-show="property.user.primaryPhoneNumber">+91-{{property.user.primaryPhoneNumber | maskNumber:property.user.hidePrimaryPhoneNumber}}</label><br>
										<label ng-show="property.user.secondaryPhoneNumber">+91-{{property.user.secondaryPhoneNumber | maskNumber:property.user.hideSecondayPhoneNumber}}</label>
										<button type="submit" class="btn btn-default btn-sm btn-info" ng-click="showSendSmsView();">Send SMS</button>
									</div>
									<div class="speaker_image dot">
										<img src="images/dot.png" alt="">
									</div>
									<div class="push"></div>
								</div>
								<div class="schedule_row">
									<div class="left">
										<label class="">Seller</label>
									</div>
									<div class="right">
										<label>{{property.user.type}}</label>
									</div>
									<div class="speaker_image dot">
										<img src="images/dot.png" alt="">
									</div>
									<div class="push"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-show="showSendSmsViewBox">
						<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11"  style="margin:0 auto;float:none;"> 
							<div class="panel panel-default drop-shadow">
							  <div class="panel-body">
								<form role="form" name="sendSmsForm" novalidate>
								  <div class="form-group">
									<button type="button" ng-click="hideSendSmsViewBox();" class="close">&times;</button>
									<label for="exampleInputEmail1">Message:</label>
									<textarea type="text" rows="3" maxlength="145" class="form-control" autocomplete="off" name="message" ng-model="smsDetails.message"></textarea>
									<p ng-show="sendSmsForm.message.$invalid && sendSmsForm.submitted" class="label errorText">enter message</p>
								  </div>
								  <div class="form-group">
									<label for="exampleInputPassword1">Your phone number:</label>
									<div class="input-group">
									  <div class="input-group-addon">+91</div>
									  <input type="tel" maxlength="10" ng-pattern=/[0-9]{10,10}/ name="phoneNumber" ng-required='true' ng-model="smsDetails.phoneNumber" class="form-control input-sm" placeholder="Phone number">
									</div>
									<p ng-show="sendSmsForm.submitted && sendSmsForm.phoneNumber.$error.required" class="label errorText" style="padding-left: 38px;">Enter phone number</p>
									<p ng-show="sendSmsForm.phoneNumber.$error.pattern" class="errorText label" style="padding-left: 38px;">Enter valid phone number</p>
								  </div>
								  <div class="text-center">
									<button type="submit" class="btn btn-default btn-sm btn-info" ng-click="sendSmsForm.submitted=true;sendSms(sendSmsForm.$valid, smsDetails);">Send SMS</button>
								  </div>
								</form>
							  </div>
							</div>
						</div>
					</div>
					<div class="text-center" style="padding: 20px;" ng-show="showSendSmsSuccessMessage">
						<img ng-src="images/success_32.gif"/> 
						<span class="feedbackSubmitSuccessLabel">SMS send successfully.</span>
					</div>
					<div style="padding: 5px;">
						<span class="changeLocalityLabel"><label>Note: Don't forget to say that you got details from fathome.in</label></span>
					</div>
				</div>
			</accordion-group>
		  </accordion>

		
	  </div>
	</div>
	<div class="row" ng-show="false" style="height:80px;">
	  <div class="col-sm-4">
		
	  </div>
	  <div class="col-sm-8 text-left">
		<div class="btn-group">
		  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-thumbs-up"></i> Like</button>
		  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-comments"></i> Comment</button>
		  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</button>
		 <!-- <button type="button" class="btn btn-default btn-sm contactDetails"><i class="fa fa-user"></i> Contact</button> -->
		  <button type="button" class="btn btn-default btn-sm"><i class="fa fa-warning"></i> Report</button>
		</div>
	  </div>
	</div>
	
  </div>
