<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active"> <img src="images/a1.jpg" alt="First slide"> </div>
    <div class="item"> <img src="images/a2.jpg" alt="Second slide"> </div>
    <div class="item"> <img src="images/a3.jpg" alt="Third slide"> </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-prev"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-next"></span> </a> 
  </div>
<div class="modal home-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <img src="images/home-modal-logo.png" alt="fathome" />
        <h2 class="modal-title">Search your <span>home</span></h2>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
		<form name="form1" role="form" novalidate>
			<div class="col-sm-1">
			</div>
			<div class="form-group col-sm-10">
				<div class="form-group">
				  <select class="form-control input-sm" nya-selectpicker name="city" ng-required='true' data-width="100%" ng-options="city as city for city in cities" name="city" ng-change="getLocalities(city)"  ng-model="city">
					<option value="">Select City</option>
				   </select>
				   <p ng-show="form1.city.$invalid && (!form1.city.$pristine || form1.submitted)" class="label errorText">select city</p>
				</div>
				<div class="form-group">
					<select class="form-control input-sm" nya-selectpicker name="locality" ng-required='true' ng-options="locality.locality as locality.locality for locality in localities" name="locality" ng-model="locality">
						<option value="">Select Locality</option>
					</select>
					<p ng-show="form1.locality.$invalid && (!form1.locality.$pristine || form1.submitted)" class="label errorText">select locality</p>
				</div>
				<div>
					<button type="submit" class="btn btn-primary btn-sm btn-block homebtn" ng-click="showProperties(city, locality);">Start Search</button>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ************** Modals ************** -->
<!-- Signin Modal -->

