<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active"> <img src="images/a1.jpg" alt="First slide"> </div>
    <div class="item"> <img src="images/a2.jpg" alt="Second slide"> </div>
    <div class="item"> <img src="images/a3.jpg" alt="Third slide"> </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-prev"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-next"></span> </a> </div>
<div class="modal home-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"> <img src="images/home-modal-logo.png" alt="fathome" />
        <h2 class="modal-title">Search your <span>home</span></h2>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
        <div class="form-group">
		  <select class="form-control selectpicker input-sm" data-width="100%" ng-options="city as city for city in cities" name="city" ng-change="getLocalities(property.user.city)"  ng-model="city">
           </select>
        </div>
        <div class="form-group">
			<select class="form-control input-sm" ng-options="locality as locality for locality in localities" name="locality" ng-model="locality">
			  </select>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#/propertyresults/{{city}}/{{locality}}"><button type="button" class="btn btn-primary btn-sm btn-block">Start Search</button></a>
        
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->d
</div>
<!-- /.modal -->
<section class="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="circle"> <i class="fa fa-windows"></i> </div>
        <h2>Windows ipsum dolors</h2>
        <p>Not only does Zillow have for sale listings, but we also show you for sale by owner (FSBO) homes, foreclosures, new construction, and rentals.</p>
        <p>More than a million listings you won’t find on an MLS.</p>
      </div>
      <div class="col-sm-4">
        <div class="circle"> <i class="fa fa-android"></i> </div>
        <h2>Android Lorem ipsum dolors</h2>
        <p>Not only does Zillow have for sale listings, but we also show you for sale by owner (FSBO) homes, foreclosures, new construction, and rentals.</p>
        <p>More than a million listings you won’t find on an MLS.</p>
      </div>
      <div class="col-sm-4">
        <div class="circle"> <i class="fa fa-apple"></i> </div>
        <h2>iPhone dolors</h2>
        <p>Not only does Zillow have for sale listings, but we also show you for sale by owner (FSBO) homes, foreclosures, new construction, and rentals.</p>
        <p>More than a million listings you won’t find on an MLS.</p>
      </div>
    </div>
  </div>
</section>
<!-- ************** Modals ************** -->
<!-- Signin Modal -->
<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Signin</h2>
        <p>Signin to save and track Homes!</p>
      </div>
      <div class="modal-body">
        <!-- form -->
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Remember me </label>
              </div>
            </div>
            <div class="col-sm-6 text-right"> <a href="#" data-dismiss="modal" class="createAccount">Register</a> </div>
          </div>
        </form>
        <!-- Form End -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Signin</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Create Account Modal -->
<div class="modal fade" id="account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Registration</h2>
        <p><strong>Create an Account</strong> to list a property, save searches and track homes.<br /> Already have an account? <a href="#" data-dismiss="modal" class="signin">Signin</a></p>
      </div>
      <div class="modal-body">
        <!-- form -->
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Phone">
          </div>
          <div class="form-group">
            <select class="selectpicker" data-width="100%">
              <option>Select City</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Locality">
          </div>
        </form>
        <!-- Form End -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
