<div id="homepage"  width="100%" height="100%">

</div>
<div class="modal home-modal hide-home-screen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><img src="images/home-modal-logo.png" alt="fathome" />
        <h2 class="modal-title">Search your <span>home</span></h2>
        <div class="clearfix"></div>
      </div>
      <div class="modal-body">
		<form name="form1" role="form" novalidate>
			<div class="col-sm-1">
			</div>
			<div class="form-group col-sm-10">
				<div class="form-group">
				  <select class="form-control input-sm" nya-selectpicker name="city" ng-required='true' data-width="100%" ng-options="city as city for city in cities | orderBy:'toString()'" name="city" ng-change="getLocalities(city)"  ng-model="city">
					<option value="">Select City</option>
				   </select>
				   <p ng-show="form1.city.$invalid && (!form1.city.$pristine || form1.submitted)" class="label errorText">select city</p>
				</div>
				<div class="form-group">
					<select class="form-control input-sm" nya-selectpicker name="locality" ng-required='true' ng-options="locality.locality as locality.locality for locality in localities | orderBy:'locality'" name="locality" ng-model="locality">
						<option value="">Select Locality</option>
					</select>
					<p ng-show="form1.locality.$invalid && (!form1.locality.$pristine || form1.submitted)" class="label errorText">select locality</p>
				</div>
				<div>
					<button type="submit" class="btn btn-primary btn-sm btn-block homebtn" ng-click="showProperties(city, locality);">Start Search</button>
				</div>
			</div>
			<div class="col-sm-1">
			</div>
		</form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
	<div class="row" ng-if="propertiesCounts" style="margin-left: 12px;padding-top: 10px;font-size: 17px;font-weight: bold;color: #1573BB;">
		<div class="col-xs-4" style="padding-left: 0;padding-right: 0;">
			{{propertiesCounts.totalSellProps}}
			<p> Houses for Sale</p>
		</div>
		<div class="col-xs-4" style="padding-left: 0;padding-right: 0;">
			{{propertiesCounts.totalRentProps}}
			<p> Houses for Rent</p>
		</div>
		<div class="col-xs-4" style="padding-left: 0;padding-right: 0;">
			{{propertiesCounts.totalPlotOrLandProps}}
			<p> Land/Plot for Sale</p>
		</div>
	</div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ************** Modals ************** -->
<!-- Signin Modal -->

