<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js full-height" id="ng-app" ng-app="fatHomesApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FATHOME</title>
    <meta name="description" content="Find a great house or apartment for rent or buy in Hyderabad, India on fathome.in! Find Hyderabad real estate here.">
	<meta name="robots" content="noodp,noydir" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/bootstrap-select.min.css" media="screen" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css">
    
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Puritan:400,400italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="styles/custom.css" media="screen" />
   <!--<link rel="stylesheet" type="text/css" href="fat-home-min.css" media="screen" />
   <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" media="screen">-->
   <link href="http://fonts.googleapis.com/css?family=Puritan:400,400italic" rel="stylesheet" type="text/css">
      <!--[if lte IE 8]>
        <script>
		  window.location.href = "http://www.fathome.in/shared/html/browser.html"
          
        </script>
      <![endif]-->
        
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lte IE 9]>
	  <script src="lib/xdomain.min.js" slave="http://54.88.7.125:3000/static/proxy.html"></script>
	  <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <script src="lib/html5shiv/html5shiv.js"></script>
      <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
	
  </head>
  <body ng-controller="fatHomeController" class="main full-height" ng-cloak>
    <div class="navbar navbar-inverse">
      <div ng-disabled="true" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="fa fa-bars"></span></button>
          <a class="navbar-brand" href="#">FATHOME</a></div>
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav navbar-right" ng-show="showTabs.showTabs">
            <li><a href="#/properties/{{user.city}}/{{user.locality}}"><i class="fa fa-home"></i></a></li>
            <li><a href="" ng-click="showFeedbackmodal();">FEEDBACK</a></li>
            <li><a href="" ng-click="showContactmodal();">CONTACT US</a></li>
            <li><a href=""  ng-click="showMyProperties($event);" pop-over >MY LIST</a></li>
			<li ng-controller="LoginCtrl"><a href="" ng-show="!isUserLoggedin" ng-click="showLoginModal();">SIGN IN</a></li>
			<li><a href="" ng-show="isUserLoggedin" ng-click="logOut();">SIGN OUT</a></li>
            
            <li><a href="" ng-click="postProperty();" style="background-color: #2aabd2;" class="btn btn-info btn-xm navbar-btn"><span>POST PROPERTY
           <!-- <i class="fa fa-caret-right"></i>-->
            </span></a></li>
            <li class="social"><a href="https://www.facebook.com/pages/fathomein/327105184080870" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a> <a href="https://plus.google.com/103303197094088619907/about?hl=en" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div ng-view="" class="body-content"></div>
	<div please-wait></div>
   

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56408112-1', 'auto');
      ga('send', 'pageview');

    </script>

   <!-- <script src="fat-home-min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>-->


 
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-animate/angular-animate.min.js"></script>
	
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="lib/imageupload.js"></script>
	<script src="app.js"></script>	
	<script src="configuration.js"></script>
	<script src="modules/registerproperty/js/main.js"></script>
	<script src="modules/properties/js/main.js"></script>
	<script src="modules/login/js/main.js"></script>
	<script src="modules/home/js/main.js"></script>
	<script src="lib/nya-bootstrap-select.js"></script>
	<script src="lib/ui-bootstrap-carousel.js"></script>

</body>
</html>