<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js full-height" id="ng-app" ng-app="fatHomesApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FATHOME</title>
    <meta name="description" content="">
   <!-- <meta name="viewport" content="width=device-width">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css 
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
   -->
  
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--<link rel="stylesheet" href="styles/main.css">-->
    <!-- endbuild -->

    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-select/bootstrap-select.min.css" media="screen" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css" media="screen">
    <link href="http://fonts.googleapis.com/css?family=Puritan:400,400italic" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="bower_components/css-toggle-switch/dist/toggle-switch.css" media="screen"/>-->
    <link rel="stylesheet" type="text/css" href="custom.min.css" media="screen" />

    
        
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lte IE 9]>
	  <script src="lib/xdomain.min.js" slave="http://54.88.7.125:3000/static/proxy.html"></script>
	  <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <script src="lib/html5shiv/html5shiv.js"></script>
      <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
<!--[if lt IE 8]>
    <link href="lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
    <![endif]-->
	<!--[if lte IE 8]>
        <script>
		  window.location.href = "http://www.fathome.in/shared/html/browser.html"
          document.createElement('carousel');
          document.createElement('slide');
          document.createElement('accordion-group');
		  document.createElement('accordion-heading');
  		  window.isIE8 = true;
        </script>
      <![endif]-->
  </head>
  <body ng-controller="fatHomeController" class="main full-height" ng-cloak>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="navbar navbar-inverse">
      <!--  navbar-fixed-top -->
      <div style="width: 98%;" ng-disabled="true" >
        <div class="navbar-header" style="padding-left: 15px;">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="fa fa-bars"></span></button>
          <a class="navbar-brand" href="#">FATHOME</a></div>
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav navbar-right" ng-show="showTabs.showTabs">
            <li><a href="#/properties/{{user.city}}/{{user.locality}}"><i class="fa fa-home"></i></a></li>
            <li><a href="" ng-click="showFeedbackmodal=!showFeedbackmodal;feedback={};feedbackform.submitted=false;">FEEDBACK</a></li>
            <li><a href="" ng-click="showContactmodal=!showContactmodal">CONTACT US</a></li>
            <!--
            <li class="active" ng-show="false"><a href="main.html">My Shortlist</a></li>
			<li><a href="" ng-show="false" ng-init="loginLabel='Sign In'" ng-click="showLoginModal();">{{loginLabel}}</a></li>
             -->
            <li><a href="#/registerproperty/{{user.city}}/{{user.locality}}" style="background-color: #2aabd2;" class="btn btn-info btn-xm navbar-btn"><span>POST PROPERTY
           <!-- <i class="fa fa-caret-right"></i>-->
            </span></a></li>
            <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
            <li ><a href="#" style="padding-left:0px;"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

    <!-- Add your site or application content here -->
    <div ng-view="" class="body-content"></div>
	<div please-wait></div>
   <!-- <footer ng-show="false">
      <p>&copy; 2012-2013 Fathome.com. Toll Free Number: 000-100-100-10000 <a href="#">Terms of Service</a> | <a href="#">Privacy</a> Aenean rutrum placerat libero, eu tincidunt turpis tempus ut</p>
      <p class="footer-icons"><a href="#"><i class="fa fa-facebook-square"></i></a> <a href="#"><i class="fa fa-linkedin-square"></i></a> <a href="#"><i class="fa fa-google-plus-square"></i></a></p>
    </footer> -->

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

	<!-- ************** Modals ************** -->
<!-- Signin Modal -->
<div class="modal fade" modal-visible="showLoginmodal" modal-show id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" 
                   >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Signin</h2>
        <p>Signin to save and track Homes!</p>
      </div>

       <div class="modal-body">
        
        <form class="form-horizontal" role="form" name="loginForm" ng-submit="login(loginUser)" novalidate>
        
        <!-- form -->
          <div class="form-group" ng-class="{ 'has-error' : loginForm.loginUserEmail.$invalid && loginForm.loginUserEmail.$dirty}">
            <input type="email" class="form-control" id="inputEmail3" name="loginUserEmail" placeholder="Email" ng-model="loginUser.email" required>
             <p class="help-block" ng-show="loginForm.loginUserEmail.$dirty && loginForm.loginUserEmail.$invalid">Invalid Email</p>
          </div>
          <div class="form-group" ng-class="{ 'has-error' : loginForm.loginUserPassword.$error.required && loginForm.loginUserPassword.$dirty}">
            <input type="password" class="form-control" id="inputPassword3" name="loginUserPassword" placeholder="Password" 
            ng-model="loginUser.password" required>
            <p class="help-block" ng-show="loginForm.loginUserPassword.$error.required && loginForm.loginUserPassword.$dirty">Password required</p>
          </div>
         
          <span ng-show="loginUser.loginFailed" style="color:red" > The email or password you entered is incorrect.</span>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Remember me </label>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <a ng-click="showRegisterModal();" class="createAccount">Register</a>

            </div>
          </div>
        <!-- Form End -->
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid">Signin</button>
      </div>
      
        </form>
        </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Create Account Modal -->
<div class="modal fade" modal-visible="showRegistermodal" modal-show id="account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Registration</h2>
        <p><strong>Create an Account</strong> to list a property, save searches and track homes.<br />
          Already have an account? <a href="" class="signin" ng-click="showLoginModal();">Sign In</a></p>
      </div>
      <div class="modal-body">
        <!-- form -->
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <input type="email" class="form-control" ng-model="newUser.email" id="inputEmail3" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="newUser.password" id="inputPassword3" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ng-model="newUser.confirmPassword" id="inputPassword3" placeholder="Confirm Password">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" ng-model="newUser.phone" id="inputPassword3" placeholder="Phone">
          </div>
          <div class="form-group">
            <select nya-selectpicker class="form-control input-sm" ng-options="city as city for city in cities | orderBy:'toString()'" name="city" ng-change="getLocalities(property.user.city)" ng-required='true' ng-model="newUser.city">
				<option value="">Select City</option>
			</select>
          </div>
          <div class="form-group">
			<select nya-selectpicker class="form-control input-sm" ng-options="locality.locality as locality for locality in localities | orderBy:'locality'" name="locality" ng-required='true' ng-model="newUser.locality">
				<option value="">Select Locality</option>
			</select>
          </div>
        </form>
        <!-- Form End -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="register(newUser)">Create</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Contact Modal -->
<div class="modal fade" ng-init="showContactmodal = false;" modal-visible="showContactmodal" modal-show id="contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"                    >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Contact us</h2>
      </div>

      <div class="modal-body">
         <div class="row" id="contactdetails">
            <div class="col-md-6">
				<div class="flag">
					<img src='India-Flag.png' class='iconDetails'>
					<label>India</label>
				</div>	
				<div class="clearfix"></div>
				    <label>Hyderabad, A.P</label>
					<p>
						<i class="fa fa-phone"></i> Phone : <label class="contact-label">+91 9999999999</label><br/> 
			       </p>
					<p>
						<i class="fa fa-envelope"></i>E-mail : <label class="contact-label"><a href="mailto:contact@fathome.in">contact@fathome.in</a></label>
					</p>
                </div>
				
				 <div class="col-md-6">
					<div class="flag">
		<img src='United-States-of-America-Flag.png' class='iconDetails'>
		
	  <label>United States</label>
</div>	
			<div class="clearfix"></div>
			<label>Phoenix, AZ</label>
					<p>
				<i class="fa fa-phone"></i> Phone : <label class="contact-label">001-316-250-0081</label>
			       </p>
                    
                    <p>
				<i class="fa fa-envelope"></i>E-mail : <label class="contact-label"><a href="mailto:uscontact@fathome.in">uscontact@fathome.in</a></label>
			</p>
                    
                </div>
				
				</div>
      </div>
	  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Feedback Modal -->
<div class="modal fade" ng-init="showFeedbackmodal = false;" modal-visible="showFeedbackmodal" modal-show id="feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"                    >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Feedback Form</h2>
      </div>

      <div class="modal-body feedbackformgap">
         <form class="myfirstform" role="form" name="feedbackform" novalidate>
			<div class="form-group">
				<label class="control-label">Name</label>
				<div class="controls">
					<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" class="form-control" ng-model="feedback.userName" name="name" placeholder="Name"><br/>
					</div>
					<span class="optional">optional</span>
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label">Phone</label>
				<div class="controls">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-mobile"></i></span>
						<input type="text" class="form-control" maxlength="10" ng-model="feedback.phoneNumber" ng-pattern=/[0-9]{10,10}/ name="phonenumber" placeholder="phone" ng-required="feedbackform.phonenumber.$dirty">
						<p ng-show="feedbackform.phonenumber.$error.pattern" class="errorText label">Enter valid phone number</p>
					</div>
					<span class="optional">optional</span>
				</div>
			</div>
			
			
			<div class="form-group">
				<label class="control-label">Email</label>
				<div class="controls">
					<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
						<input type="email" class="form-control" ng-model="feedback.email" id="email" name="email" ng-required="feedbackform.email.$dirty" placeholder="Email">
						<p ng-show="feedbackform.email.$invalid && feedbackform.email.$dirty" class="label errorText">Enter valid email</p>
					</div>
					<span class="optional">optional</span>
				</div>	
			</div>
			
					
			<div class="form-group ">
				<label class="control-label">Message</label>
				<div class="controls">
					<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-pencil"></i></span>
						<textarea name="message" class="form-control" ng-model="feedback.message" rows="4" ng-required='true' cols="78" placeholder="Enter your message here"></textarea>
						<p ng-show="feedbackform.message.$invalid && feedbackform.submitted" class="label errorText">enter message</p>
					</div>
				</div>
			</div>
			<div class="form-group ">
				 <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" >		  
					<img ng-src="images/Info.png" width="24" height="24"/> 
					<label style="position: relative;top: 2px;margin-left: 5px;">  Thank you for your feedback</label>
				</div>			   
			</div>
			<div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" >		  
			   <button type="submit" id="mybtn" class="btn btn-primary pull-right homebtn" ng-click="sendFeedback(feedback);">Send Feedback</button>	        
			</div>
		</form>
      </div>
	  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

  <script src="fat-home-lib-min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <!-- 
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
	-->
  <script src="lib/imageupload.js"></script>
  <!--<script src="app.js"></script>	
	<script src="modules/registerproperty/js/main.js"></script>
	<script src="modules/properties/js/main.js"></script>
	<script src="modules/login/js/main.js"></script>
	<script src="modules/home/js/main.js"></script>-->
  <script src="fat-home-min.js"></script>
	<script src="lib/nya-bootstrap-select.js"></script>
</body>
</html>
