	<div class="modal-header" style="padding-bottom: 0px;">
		<button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
		<h2 class="modal-title" id="myModalLabel">Account Verification</h2>
	</div>
	<div style="min-height: 100%;
		height: auto !important;
		height: 100%; ">
		<div class="modal-body">
		
			<form class="form-horizontal" role="form" name="accountVerificationForm" novalidate>
			
			<!-- form -->
			<p>OTP sent to <strong>{{userDetails.phoneNumber}}</strong> mobile number.<br>please enter the OTP below and press continue</p>
			  <div class="form-group">
				<input type="tel" maxlength="6" ng-pattern=/[0-9]/ name="otp" ng-required='true' ng-model="oneTimePassword" class="form-control input-sm" placeholder="One Time Password">
				<p ng-show="accountVerificationForm.submitted && accountVerificationForm.otp.$error.required" class="label errorText">Enter one time password</p>
				<p ng-show="accountVerificationForm.submitted && accountVerificationForm.otp.$error.pattern" class="errorText label">Enter numbers only</p>
			  </div>
			  <label ng-show="otpFailed" style="color:red" >One time password is incorrect</label>
			  <div class="form-group">
				<button type="button" ng-disabled="otpResendInProgress" class="btn btn-primary homebtn" ng-click="resendOTP();">Resend OTP</button>
				<img ng-show="otpResendInProgress" ng-src="images/ajax-loader-32x32.gif"/> 
				</div>
				<label ng-show="otpSent" style="color:green" >One time password sent.</label>
			</form>
			
			<div style="text-align:right;">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="submit" ng-disabled="accountVerificationInProgress" class="btn btn-primary homebtn" ng-click="accountVerificationForm.submitted=true; accountVerificationForm.$valid && verifyOTP(oneTimePassword) && (accountVerificationForm.submitted=false);">Submit</button>
				<img ng-show="accountVerificationInProgress" ng-src="images/ajax-loader-32x32.gif"/> 
			</div>
		</div>
	</div>
