	<div class="modal-header" style="padding-bottom: 0px;">
		<button type="button" class="close" aria-hidden="true" ng-click="cancel()">&times;</button>
		<h3 class="modal-title" id="myModalLabel">Reset Password</h3>
	</div>
	<div style="min-height: 100%;
		height: auto !important;
		height: 100%; ">
		<div class="modal-body">
		
			<form class="form-horizontal" role="form" name="resetPasswordForm" novalidate>
				<div class="form-group">
					<input type="password" class="form-control" name="tempPasswd" placeholder="Temporary password" ng-model="resetPassword.tempPasswd" required>
					<p ng-show="resetPasswordForm.tempPasswd.$invalid && (!resetPasswordForm.tempPasswd.$pristine || resetPasswordForm.submitted)" class="label errorText">Enter temporary password</p>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" ng-change="validatePassword(resetPassword.password, resetPassword.confirmPassword)" ng-model="resetPassword.password" name="password" required id="inputPassword3" placeholder="New password">
					<p ng-show="resetPasswordForm.password.$invalid && (!resetPasswordForm.password.$pristine || resetPasswordForm.submitted)" class="label errorText">enter password</p>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" ng-change="validatePassword(resetPassword.password, resetPassword.confirmPassword)" ng-model="resetPassword.confirmPassword" required name="confirmPassword" id="inputPassword3" placeholder="Confirm new password">
					<p ng-show="resetPasswordForm.confirmPassword.$invalid && (!resetPasswordForm.confirmPassword.$pristine || resetPasswordForm.submitted)" class="label errorText">enter password again</p>
					<p ng-show="invalidConfirmPassword" class="label errorText">Password should match</p>
				</div>
				<label ng-show="invalidTempPasswd" style="color:red" >Wrong temporary password.</label>
			</form>
			<div style="text-align:right;">
				<button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
				<button type="submit" ng-disabled="resetPasswordInProgress" class="btn btn-primary homebtn" ng-click="resetPasswordForm.submitted=true; resetPasswordForm.$valid && resetUserPassword(resetPassword) && (resetPasswordForm.submitted=false);">Submit</button>
				<img ng-show="resetPasswordInProgress" ng-src="images/ajax-loader-32x32.gif"/> 
			</div>
		</div>
	</div>
