<!DOCTYPE html>
<html>
<head>
<title>Welcome to FATHOME</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="lib/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="lib/bootstrap/bootstrap-theme.min.css" rel="stylesheet" media="screen">
<link href="lib/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" media="screen">
<link href="lib/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet" media="screen">
<link href='http://fonts.googleapis.com/css?family=Puritan:400,400italic' rel='stylesheet' type='text/css'>
<link href="lib/toggle-switch/toggle-switch.css" rel="stylesheet" media="screen">
<link href="style/custom.css" rel="stylesheet" media="screen">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="lib/html5shiv/html5shiv.js"></script>
      <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
<!--[if lt IE 8]>
	<link href="lib/fontawesome/font-awesome-ie7.min.css" rel="stylesheet" media="screen">
    <![endif]-->
</head>
<body class="main">
<div class="navbar navbar-inverse">
  <!--  navbar-fixed-top -->
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="fa fa-bars"></span></button>
      <a class="navbar-brand" href="#">FATHOME</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html"><i class="fa fa-home"></i></a></li>
        <li><a href="#about">Feedback</a></li>
        <li><a href="#contact">Contact us</a></li>
        <li><a href="main.html">My Shortlist</a></li>
        <li><a href="#contact" data-toggle="modal" data-target="#signin">Sign In</a></li>
        <li><a href="#list" class="btn btn-info btn-xm navbar-btn"><span>Rent/Sell <i class="fa fa-caret-right"></i></span></a></li>
        <li><a href="#"><i class="fa fa-facebook-square fa-lg"></i></a></li>
		<li ><a href="#" style="padding-left:0px;"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
		<h3>Enter your details</h3>
			<form class="form-horizontal" role="form">
			<div class="panel panel-default">
				<div class="panel-heading"><strong>Personal Information</strong></div>
				<div class="panel-body">
			  <div class="form-group">
				<label class="col-sm-2 control-label">I am:</label>
				<div class="col-sm-10">
					<div class="radio-inline">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						Owner
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						Agent
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						builder
					  </label>
					</div>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label">Email:</label>
				<div class="col-sm-2">
				  <input type="email" class="form-control input-sm" placeholder="Email">
				</div>
				<div class="col-sm-2">
				  <button class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label">Phone:</label>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Phone">
				</div>
				<div class="col-sm-2">
				  <button class="btn btn-default btn-sm"><i class="fa fa-plus"></i></button>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label">City:</label>
				<div class="col-sm-3">
				  <input type="text" class="form-control input-sm" placeholder="City">
				</div>
				<label class="col-sm-2 control-label">Locality:</label>
				<div class="col-sm-3">
				  <input type="text" class="form-control input-sm" placeholder="Locality">
				</div>
			  </div>
			  </div>
			  </div>
			  <div class="panel panel-default">
				<div class="panel-heading"><strong>Property Details</strong></div>
				<div class="panel-body">
			  <div class="form-group">
				<label class="col-sm-2 control-label">Type:</label>
				<div class="col-sm-4">
					<select class="form-control input-sm">
					  <option>Residential</option>
					  <option>Commercial</option>
					</select>
				</div>
				<div class="col-sm-4">
					<select class="form-control input-sm">
					  <option>Apartment</option>
					  <option>Individual house/Villa</option>
					  <option>Residential land/plot</option>
					  <option>builder floor</option>
					  <option>pent house</option>
					  <option>farm house</option>
					</select>
				</div>
			  </div>
			  <div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-2">
				  <div class="radio-inline">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						Sell
					  </label>
					</div>
					<div class="radio-inline">
					  <label>
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
						Rent
					  </label>
					</div>
				</div>
				<label class="col-sm-2 control-label">Bedrooms:</label>
				<div class="col-sm-1">
					<select class="form-control input-sm">
					  <option>1</option>
					  <option>2</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">Bathrooms:</label>
				<div class="col-sm-1">
					<select class="form-control input-sm">
					  <option>1</option>
					  <option>2</option>
					</select>
				</div>
			  </div>
			  <!--<div class="form-group">
				<label class="col-sm-2 control-label">Monthly Rent:</label>
				<div class="col-sm-3">
				  <input type="text" class="form-control input-sm" placeholder="Rent">
				</div>
				<label class="col-sm-2 control-label">Deposit:</label>
				<div class="col-sm-3">
				  <input type="text" class="form-control input-sm" placeholder="Deposit">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-2">
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">
						Allow Non-veg
					  </label>
					</div>
				</div>
				<div class="col-sm-2">
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">
						Allow Pets
					  </label>
					</div>
				</div>
				<label class="col-sm-2 control-label">Preferred Tenant:</label>
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>No Restriction</option>
					  <option>Family</option>
					  <option>Bachelor</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Commition in Days:</label>
				<div class="col-sm-1">
				  <select class="form-control input-sm">
						<option>1</option>
					  <option>2</option>
					  <option>4</option>
					</select>
				</div>
				<label class="col-sm-1 control-label">OR</label>
				<label class="col-sm-2 control-label">Fixed Price:</label>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Amount">
				</div>
			</div>
			-->
			<div class="form-group">
				<label class="col-sm-2 control-label">Total Price:</label>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Amount">
				</div>
				<div class="col-sm-6">
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">
						Negotiable
					  </label>
					</div>
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">
						Registration fee Included
					  </label>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Area:</label>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Built-up">
				</div>
				  
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>Units Drop Down</option>
					  <option>1</option>
					  <option>2</option>
					</select>
				</div>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Plot/Land">
				</div>
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>Units Drop Down</option>
					  <option>1</option>
					  <option>2</option>
					</select>
				</div>
				<label class="col-sm-1 control-label"><i class="fn fn-home"></i></label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Carpet">
				</div>
				  
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>Units Drop Down</option>
					  <option>1</option>
					  <option>2</option>
					</select>
				</div>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Per unit price">
				</div>
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>AreaType Drop Down</option>
					  <option>Carpet</option>
					  <option>Built-up</option>
					  <option>Plot/Land</option>
					</select>
				</div>
				<label class="col-sm-1 control-label"><i class="fn fn-home"></i></label>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Property Address:</label>
				<div class="col-sm-8">
				  <textarea type="text" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-10">
				  <div class="radio-inline">
					  <label>
						<input type="radio">New
					  </label>
					</div>
				  <div class="radio-inline">
					  <label>
						<input type="radio">Resale 
					  </label>
					</div>
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">Underconstruction
					  </label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Availability</label>
				<div class="col-sm-2">
				  <div class="radio-inline">
					  <label>
						<input type="radio">Ready
					  </label>
					</div>
				  <div class="radio-inline" >
					  <label>
						<input type="radio">for Future
					  </label>
					</div>
				</div>
				<div class="col-sm-2">
						<input type="text" id="datepicker" class="form-control input-sm" placeholder="Enter Date">
				</div>
				<div class="col-sm-2">
						<input type="text" class="form-control input-sm" placeholder="Age of Property">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">No of Units Available</label>
				<div class="col-sm-1">
				  <select class="form-control input-sm">
						<option>1</option>
					  <option>2</option>
					  <option>3</option>
					</select>
				</div>
				<label class="col-sm-2 control-label">Ownership type:</label>
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>Freehold</option>
					  <option>leasehold</option>
					  <option>Power of Attorney</option>
					</select>
				</div>
			</div>
            
            	 <div class="form-group">
				<label class="col-sm-2 control-label">Monthly Rent:</label>
				<div class="col-sm-3">
				  <input type="text" class="form-control input-sm" placeholder="Rent">
				</div>
				<label class="col-sm-2 control-label">Deposit:</label>
				<div class="col-sm-3">
				  <input type="text" class="form-control input-sm" placeholder="Deposit">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label"></label>
				<div class="col-sm-2">
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">
						Allow Non-veg
					  </label>
					</div>
				</div>
				<div class="col-sm-2">
				  <div class="checkbox-inline">
					  <label>
						<input type="checkbox">
						Allow Pets
					  </label>
					</div>
				</div>
				<label class="col-sm-2 control-label">Preferred Tenant:</label>
				<div class="col-sm-2">
				  <select class="form-control input-sm">
						<option>No Restriction</option>
					  <option>Family</option>
					  <option>Bachelor</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label class="col-sm-2 control-label">Commition in Days:</label>
				<div class="col-sm-3">
				  <select class="form-control input-sm">
						<option>1/2 Month Rent</option>
						<option>1 Month Rent</option>
						<option>1 1/2 Month Rent</option>
						<option>Others</option>
					</select>
				</div>
				<div class="col-sm-2">
				  <input type="text" class="form-control input-sm" placeholder="Fixed Price">
				</div>
			</div>
			 
			
			  </div>
			  
			  </div>
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Specifications</strong></div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-sm-2 control-label">Balconies</label>
					<div class="col-sm-1">
					  <select class="form-control input-sm">
							<option>1</option>
						  <option>2</option>
						  <option>3</option>
						</select>
					</div>
					<label class="col-sm-2 control-label">Additional rooms</label>
					<div class="col-sm-2">
					  <select class="form-control input-sm">
							<option>puja</option>
						  <option>study</option>
						  <option>Dining</option>
						</select>
					</div>
					<div class="col-sm-3">
							<input type="text" class="form-control input-sm" placeholder="Other room">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Directional facing</label>
					<div class="col-sm-2">
						<select class="form-control input-sm">
							<option>east</option>
							<option>west</option>
							<option>South</option>
						</select>
					</div>
					<label class="col-sm-2 control-label">Fasing</label>
					<div class="col-sm-2">
						<select class="form-control input-sm">
							<option>Pool</option>
							<option>Main Road</option>
							<option>Garden</option>
						</select>
					</div>
					<div class="col-sm-2">
							<input type="text" class="form-control input-sm" placeholder="Other room">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label"></label>
					<div class="col-sm-2">
					  <div class="radio-inline">
						  <label>
							<input type="radio">Furnished
						  </label>
						</div>
					</div>
					<div class="col-sm-2">
					  <div class="radio-inline">
						  <label>
							<input type="radio">Semi-Furnished
						  </label>
						</div>
					</div>
					<div class="col-sm-2">
							<input type="text" class="form-control input-sm" placeholder="Floor Number">
					</div>
					<div class="col-sm-2">
							<input type="text" class="form-control input-sm" placeholder="Total Floors">
					</div>
				</div>
				
				
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Parking Covered</label>
					<div class="col-sm-10">
					  <div class="checkbox-inline">
                       <label><input type="checkbox" value="">2 wheeler </label>
                      </div>                      
                      
					  <div class="checkbox-inline">
                      <label>
                          <input type="radio" name="twowheeler" id="covered1" value="covered" > covered
                         </label>
                      </div>
					  
                      <div class="checkbox-inline">
                      <label>
                          <input type="radio" name="twowheeler" id="uncovered1" value="uncovered" > uncovered
                         </label>
                      </div>
					  
					  <div class="checkbox-inline">
                      <label>
                          <input type="radio" name="twowheeler" id="common1" value="common" checked> common
                         </label>
                      </div>				  
					  
					</div>		


	                <label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
					  <div class="checkbox-inline">
                       <label><input type="checkbox" value="">4 wheeler </label>
                      </div>                      
                      
					  <div class="checkbox-inline">
                      <label>
                          <input type="radio" name="fourwheeler" id="covered2" value="covered" > covered
                         </label>
                      </div>
					  
                      <div class="checkbox-inline">
                      <label>
                          <input type="radio" name="fourwheeler" id="uncovered2" value="uncovered" > uncovered
                         </label>
                      </div>
					  
					  <div class="checkbox-inline">
                      <label>
                          <input type="radio" name="fourwheeler" id="common2" value="common" checked> common
                         </label>
                      </div>		  
				    </div>	

                 <label class="col-sm-2 control-label"></label>
					<div class="col-sm-10">
					  <div class="checkbox-inline">
                       <label><input type="checkbox" value="">4 Wheeler Visitors </label>
                      </div>    
					</div>
				</div>	
				
				
				
				
                
                <div class="form-group">
					<label class="col-sm-2 control-label">Flooring</label>
					<div class="col-sm-2">
						<select class="form-control input-sm">
							<option>Marble</option>
							<option>Normal Tiles</option>
							<option>Vitrified Tiles</option>
						</select>
					</div>
                </div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Type of electricity</label>
					<div class="col-sm-2">
						<select class="form-control input-sm">
							<option>phase I</option>
							<option>phase II</option>
							<option>phase III</option>
						</select>
					</div>					
					<div class="col-sm-2">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Generator Backup
						  </label>
						</div>
					</div>
					<label class="col-sm-2 control-label">Security Systems</label>
					<div class="col-sm-2">
						<select class="form-control input-sm">
							<option>fire alarm</option>
							<option>burglar alarm</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Vastu Compliant</label>
					<div class="col-sm-2">
						<select class="form-control input-sm">
							<option>Yes</option>
							<option>No</option>
							<option>Not Sure</option>
						</select>
					</div>
					<div class="col-sm-2">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Gated Community
						  </label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Property Brief Description</label>
					<div class="col-sm-8">
						<textarea type="text" class="form-control"></textarea>
					</div>
				</div>
			</div>			
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Amenities</strong></div>
			<div class="panel-body">
				<div class="form-group">
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Swimming pool
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Play area
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Health Facilities
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Recreation facilities
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Maintenance staff
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Security
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Intercom
						  </label>
						</div>
					</div>
					<div class="col-sm-3">
					  <div class="checkbox-inline">
						  <label>
							<input type="checkbox">Club house
						  </label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading"><strong>photos and map</strong></div>
			<div class="panel-body">
					<div class="col-sm-6">
					<label for="exampleInputFile">Upload Photos</label>
					<!--<input type="file" id="exampleInputFile"> -->
<div style="position:relative;">
		<a class='btn btn-primary btn-sm' href='javascript:;'>
			Choose File...
			<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
		</a>
		&nbsp;
		<span class='label label-info' id="upload-file-info"></span>
	</div>					
<p>You can upload upto 10 photos</p>					
				  <div class="upload-img">
				  <img src="images/list1.png" alt="..." class="img-thumbnail">
				  <img src="images/list1.png" alt="..." class="img-thumbnail">
				  </div>
				  </div>
				  
					<div class="col-sm-6">
					<label for="exampleInputFile">Map</label>
					<div class="map" id="map"> </div>
					</div>
			</div>
			<div class="panel-footer text-right"><button class="btn btn-default">Submit</button></div>
		</div>
			</form>
		</div>
	</div>
</div>
<div class="tagline">
  <p>Aenean placerat libero, tincidunt tempus ut. <a href="#">fathome.com</a></p>
</div>
<footer>
  <p>&copy; 2012-2013 Fathome.com. Toll Free Number: 000-100-100-10000 <a href="#">Terms of Service</a> | <a href="#">Privacy</a> Aenean rutrum placerat libero, eu tincidunt turpis tempus ut</p>
  <p class="footer-icons"><a href="#"><i class="fa fa-facebook-square"></i></a> <a href="#"><i class="fa fa-linkedin-square"></i></a> <a href="#"><i class="fa fa-google-plus-square"></i></a></p>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="lib/jquery/jquery-1.10.2.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/bootstrap-select/bootstrap-select.min.js"></script>
<script src="lib/bootstrapValidation/jqBootstrapValidation.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script src="script/custom.js"></script>
</body>
</html>