<!-- ************** Modals ************** -->
<!-- Signin Modal -->
<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LoginCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Signin</h2>
        <p>Signin to save and track Homes!</p>
      </div>
        <form class="form-horizontal" role="form">
      <div class="modal-body">
        <!-- form -->
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="email" required>
             <p class="help-block"></p>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password" required>
          </div>
          <div class="form-group">
            <div class="col-sm-6">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  Remember me </label>
              </div>
            </div>
            <div class="col-sm-6 text-right">
              <a href="#login" data-dismiss="modal" data-toggle="modal" data-target="#account" class="createAccount">Register</a>

            </div>
          </div>
        <!-- Form End -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="login(email)">Signin</button>
      </div>
       <pre>form = {{loginPassed | json}}</pre>
        </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Create Account Modal -->
<div class="modal fade" id="account" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="LoginCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title" id="myModalLabel">Registration</h2>
        <p><strong>Create an Account</strong> to list a property, save searches and track homes.<br /> Already have an account? 
          <a href="#login" data-dismiss="modal" data-toggle="modal" data-target="#signin" class="signin">Signin</a>
        </p>

      </div>
      <div class="modal-body">
        <!-- form -->
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <input type="email2" class="form-control" required id="inputEmail3" placeholder="Email" ng-model="user.email" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="user.password" required>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password" ng-model="user.confirmPassword" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Phone" ng-model="user.phone" required>
          </div>
          <div class="form-group">
            <select class="selectpicker" data-width="100%" ng-model="user.city" required>
              <option>Select City</option>
              <option>Hyderabad</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Locality" ng-model="user.locality" required>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" ng-click="create(user)">Create</button>
          </div>
        </form>
        <!-- Form End -->
        <pre>form = {{user | json}}</pre>
      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- ************** End Modals ************** -->