<div class="container">
    <div class="row" ng-init="showForm1=true;showForm2=false;showForm3=false;">
        <div class="col-sm-12">
            <h3>Enter your details</h3>
            <form class="form-horizontal" ng-show="showForm1" name="form1" role="form" novalidate>
                <div ng-show="true">
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Personal Information</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group" ng-class="{'has-error':form1.userTypeOptions.$invalid && !form1.userTypeOptions.$pristine}">
                                <label class="col-sm-2 control-label">I am:</label>
                                <div class="col-sm-10">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" ng-model="property.user.type" name="userTypeOptions" ng-required='true' value="Owner" checked>Owner
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" ng-model="property.user.type" name="userTypeOptions" ng-required='true' value="Agent" checked>Agent
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" ng-model="property.user.type" name="userTypeOptions" ng-required='true' value="Builder" checked>Builder
                                        </label>
                                    </div>
                                </div>
								<div ng-show="form1.userTypeOptions.$invalid && (!form1.userTypeOptions.$pristine || form1.submitted)">
									 <label class="col-sm-2"></label>
									 <div class="col-sm-10">
										<p class="label errorText">select user type</p>
									</div>
								</div>
                                
                            </div>
                            <div class="form-group" ng-class="{'has-error':form1.userName.$invalid && !form1.userName.$pristine}">
                                <label class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-3">
                                    <input type="text" ng-model="property.user.name" name="userName" ng-required="true" class="form-control input-sm" placeholder="Name">
                                    <p ng-show="form1.userName.$invalid && (!form1.userName.$pristine || form1.submitted)" class="label errorText">enter name</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':form1.email.$invalid && !form1.email.$pristine}">
                                <label class="col-sm-2 control-label">Email:</label>
                                <div class="col-sm-2">
                                    <input type="email" ng-model="property.user.email" name="email" ng-required='true' class="form-control input-sm" placeholder="Email">
                                    <p class="label errorText" ng-show="form1.submitted && form1.email.$error.required">enter email</p>
                                    <p ng-show="form1.email.$invalid && form1.email.$dirty" class="label errorText">enter valid email</p>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':form1.phoneNumber.$invalid && !form1.phoneNumber.$pristine}">
                                <label class="col-sm-2 control-label">Phone:</label>
                                <div class="col-sm-2">
                                    <input type="tel" maxlength="10" ng-pattern=/[0-9]{10,10}/ name="phoneNumber" ng-required='true' ng-model="property.user.phoneNumber" class="form-control input-sm" placeholder="Phone">
                                    <p ng-show="form1.submitted && form1.phoneNumber.$error.required" class="label errorText">enter phone number</p>
									<p ng-show="form1.phoneNumber.$error.pattern" class="label errorText">enter valid phone number</p>
                                </div>
                                <div class="col-sm-2">
                                    <button class="btn btn-default btn-sm"><i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="form-group" ng-class="{'has-error':form1.locality.$invalid && !form1.locality.$pristine}">
                                <label class="col-sm-2 control-label">City:</label>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm" ng-options="city as city for city in cities" name="city" ng-change="getLocalities(property.user.city)" ng-required='true' ng-model="property.user.city">
                                    </select>
                                    <p ng-show="form1.city.$invalid && (!form1.city.$pristine || form1.submitted)" class="label errorText">select city</p>
                                </div>
                                <label class="col-sm-2 control-label">Locality:</label>
                                <div class="col-sm-3">
                                    <select class="form-control input-sm" ng-options="locality as locality for locality in localities" name="locality" ng-required='true' ng-model="property.user.locality">
                                    </select>
                                    <p ng-show="form1.locality.$invalid && (!form1.locality.$pristine || form1.submitted)" class="label errorText">select locality</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Property Details</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type:</label>
                                <div class="col-sm-4">
                                    <select class="form-control input-sm" name="propertyType" ng-required='true' ng-model="property.details.type">
                                        <option>Residential</option>
                                        <option>Commercial</option>
                                    </select>
									<p ng-show="form1.propertyType.$invalid && (!form1.propertyType.$pristine || form1.submitted)" class="label errorText">select property type</p>
                                </div>
                                <div class="col-sm-4" >
                                    <select class="form-control input-sm" name="houseType" ng-required='true' ng-model="property.details.houseType">
                                        <option>Apartment</option>
                                        <option>Individual house/Villa</option>
                                        <option>Residential land/plot</option>
                                        <option>builder floor</option>
                                        <option>pent house</option>
                                        <option>farm house</option>
                                    </select>
									<p ng-show="form1.houseType.$invalid && (!form1.houseType.$pristine || form1.submitted)" class="label errorText">select house type</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-2" ng-init='property.details.mode="";'>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" ng-model="property.details.mode" ng-required='true' name="propertyModeOptions" id="optionsRadios1" value="Sell" checked>Sell
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" ng-model="property.details.mode" ng-required='true' name="propertyModeOptions" id="optionsRadios1" value="Rent" checked>Rent
                                        </label>
                                    </div>
									<p ng-show="form1.propertyModeOptions.$invalid && (!form1.propertyModeOptions.$pristine || form1.submitted)" class="label errorText">select sell/rent</p>
                                </div>
                                <label class="col-sm-2 control-label">Bedrooms:</label>
                                <div class="col-sm-1">
                                    <select class="form-control input-sm" name="bedRooms" ng-model="property.details.bedRooms" ng-required='true'>
										<option>0</option>
										<option>1</option>
                                        <option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
                                    </select>
									<p ng-show="form1.bedRooms.$invalid && (!form1.bedRooms.$pristine || form1.submitted)" class="label errorText">select no.of bedrooms</p>
                                </div>
                                <label class="col-sm-2 control-label">Bathrooms:</label>
                                <div class="col-sm-1">
                                    <select class="form-control input-sm" name="bathRooms" ng-model="property.details.bathRooms" ng-required='true'>
                                        <option>0</option>
										<option>1</option>
                                        <option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
										<option>7</option>
										<option>8</option>
										<option>9</option>
                                    </select>
									<p ng-show="form1.bathRooms.$invalid && (!form1.bathRooms.$pristine || form1.submitted)" class="label errorText">select no.of bathRooms</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Area:</label>
                                <div class="col-sm-2">
                                    <input type="text" ng-pattern=/[0-9]/ class="form-control input-sm" name="builtUp" ng-model="property.details.area.builtUp.builtUp" ng-required='true' placeholder="Built-up">
									<p ng-show="form1.submitted && form1.builtUp.$error.required" class="label errorText">enter Built-up</p>
									<p ng-show="form1.builtUp.$error.pattern" class="label errorText">enter valid Built-up</p>
                                </div>

                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-init="property.details.area.builtUp.units='Units Drop Down'" name="builtUpUnits" ng-model="property.details.area.builtUp.units" ng-required='true'>
                                        <option>Units Drop Down</option>
										<option>Sq. Meter</option>
										<option>Sq. Yards</option>
										<option>Aankadam</option>
										<option>Acres</option>
										<option>Ares</option>
										<option>Bigha</option>
										<option>Biswa</option>
										<option>Chataks</option>
										<option>Cents</option>
										<option>Chataks</option>
										<option>Guntha</option>
										<option>Grounds</option>
										<option>Hectares</option>
										<option>Kanal</option>
                                        <option>Kottah</option>
                                        <option>Marla</option>
										<option>Perch</option>
										<option>Rood</option>
                                    </select>
									<p ng-show="form1.builtUpUnits.$invalid && (!form1.builtUpUnits.$pristine || form1.submitted)" class="label errorText">select Built-up units</p>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" ng-pattern=/[0-9]/ class="form-control input-sm" name="plotOrLand" ng-model="property.details.area.plotOrLand.plotOrLand" ng-required='true' placeholder="Plot/Land">
									<p ng-show="form1.submitted && form1.plotOrLand.$error.required" class="label errorText">enter Plot/Land</p>
									<p ng-show="form1.plotOrLand.$error.pattern" class="label errorText">enter valid Plot/Land</p>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-init="property.details.area.plotOrLand.units='Units Drop Down'" name="plotOrLandUnits" ng-model="property.details.area.plotOrLand.units" ng-required='true'>
                                        <option>Units Drop Down</option>
										<option>Sq. Meter</option>
										<option>Sq. Yards</option>
										<option>Aankadam</option>
										<option>Acres</option>
										<option>Ares</option>
										<option>Bigha</option>
										<option>Biswa</option>
										<option>Chataks</option>
										<option>Cents</option>
										<option>Chataks</option>
										<option>Guntha</option>
										<option>Grounds</option>
										<option>Hectares</option>
										<option>Kanal</option>
                                        <option>Kottah</option>
                                        <option>Marla</option>
										<option>Perch</option>
										<option>Rood</option>
                                    </select>
									<p ng-show="form1.plotOrLandUnits.$invalid && (!form1.plotOrLandUnits.$pristine || form1.submitted)" class="label errorText">select Plot/Land units</p>
                                </div>
                                <label class="col-sm-1 control-label"><i class="fn fn-home"></i>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-2">
                                    <input type="text" ng-pattern=/[0-9]/ class="form-control input-sm" name="carpet" ng-model="property.details.area.carpet.carpet" ng-required='false' placeholder="Carpet">
									<p ng-show="form1.submitted && form1.carpet.$error.required" class="label errorText">enter Carpet</p>
									<p ng-show="form1.carpet.$error.pattern" class="label errorText">enter valid Carpet</p>
                                </div>

                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-init="property.details.area.carpet.units='Units Drop Down'" name="carpetUnits" ng-model="property.details.area.carpet.units" ng-required='false'>
                                        <option>Units Drop Down</option>
										<option>Sq. Meter</option>
										<option>Sq. Yards</option>
										<option>Aankadam</option>
										<option>Acres</option>
										<option>Ares</option>
										<option>Bigha</option>
										<option>Biswa</option>
										<option>Chataks</option>
										<option>Cents</option>
										<option>Chataks</option>
										<option>Guntha</option>
										<option>Grounds</option>
										<option>Hectares</option>
										<option>Kanal</option>
                                        <option>Kottah</option>
                                        <option>Marla</option>
										<option>Perch</option>
										<option>Rood</option>
                                    </select>
									<p ng-show="form1.carpetUnits.$invalid && (!form1.carpetUnits.$pristine || form1.submitted)" class="label errorText">select Carpet units</p>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" ng-pattern=/[0-9]/ class="form-control input-sm" name="perUnitPrice" ng-model="property.details.area.perUnitPrice" ng-required='true' placeholder="Per unit price">
									<p ng-show="form1.submitted && form1.perUnitPrice.$error.required" class="label errorText">enter per unit price</p>
									<p ng-show="form1.perUnitPrice.$error.pattern" class="label errorText">enter valid unit price</p>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-init="property.details.area.type='AreaType Drop Down'" name="areaType" ng-model="property.details.area.type" ng-required='true'>
                                        <option>AreaType Drop Down</option>
                                        <option>Carpet</option>
                                        <option>Built-up</option>
                                        <option>Plot/Land</option>
                                    </select>
									<p ng-show="form1.areaType.$invalid && (!form1.areaType.$pristine || form1.submitted)" class="label errorText">select area type</p>
                                </div>
                                <label class="col-sm-1 control-label"><i class="fn fn-home"></i>
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Property Address:</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" name="address" ng-model="property.details.address" ng-required='false'></textarea>
									<p ng-show="form1.address.$invalid && (!form1.address.$pristine || form1.submitted)" class="label errorText">enter address</p>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Availability</label>
                                <div class="col-sm-2">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" value="Ready" name="availabilityOptions" ng-model="property.details.availability">Ready
                                        </label>
                                    </div>
                                    <div class="radio-inline" >
                                        <label>
                                            <input type="radio" value="for Future" name="availabilityOptions" ng-model="property.details.availability">for Future
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2" ng-show="property.details.availability==='for Future'">
                                    <input type="date" id="datepicker" name="date" ng-model="property.details.date" ng-required="false" class="form-control input-sm" placeholder="Enter Date">
									<p ng-show="form1.date.$invalid && (!form1.date.$pristine || form1.submitted)" class="label errorText">select date</p>
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" class="form-control input-sm" name="age" ng-model="property.details.ageOfProperty" ng-required='false' placeholder="Age of Property">
									<p ng-show="form1.age.$invalid && (!form1.age.$pristine || form1.submitted)" class="label errorText">enter age of Property</p>
                                </div>
                            </div>
							
							<div ng-show="property.details.mode==='Sell'">
								<div class="form-group">
									<label class="col-sm-2 control-label">Total Price:</label>
									<div class="col-sm-2">
										<input type="text" ng-pattern=/[0-9]/ class="form-control input-sm" placeholder="Amount" name="price" ng-model="property.details.price.price" ng-required="property.details.mode==='Sell'">
										<p ng-show="form1.submitted && form1.price.$error.required" class="label errorText">enter total price</p>
										<p ng-show="form1.price.$error.pattern" class="label errorText">enter valid unit price</p>
									</div>
									<div class="col-sm-6">
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" ng-model="property.details.price.negotiable">Negotiable
											</label>
										</div>
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" ng-model="property.details.price.registrationFeeIncluded">Registration fee Included
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-10">
										<div class="radio-inline" >
											<label>
												<input type="radio" ng-model="property.details.propertyType" value="New" name="propertyTypeOptions" ng-required="false">New
											</label>
										</div>
										<div class="radio-inline">
											<label>
												<input type="radio" ng-model="property.details.propertyType" value="Resale" name="propertyTypeOptions" ng-required="false">Resale
											</label>
										</div>
										<div class="radio-inline">
											<label>
												<input type="radio" ng-model="property.details.propertyType" value="Underconstruction" name="propertyTypeOptions" ng-required="false">Underconstruction
											</label>
										</div>
									</div>
									<p ng-show="form1.propertyTypeOptions.$invalid && (!form1.propertyTypeOptions.$pristine || form1.submitted)" class="label errorText">select property state</p>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">No of Units Available</label>
									<div class="col-sm-1">
										<select class="form-control input-sm" ng-model="property.details.unitsAvailable">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
									</div>
									<label class="col-sm-2 control-label">Ownership type:</label>
									<div class="col-sm-2">
										<select class="form-control input-sm" ng-model="property.details.ownershipType">
											<option>Freehold</option>
											<option>leasehold</option>
											<option>Power of Attorney</option>
										</select>
									</div>
								</div>
							</div>
							<div ng-show="property.details.mode==='Rent'">
								<div class="form-group">
									<label class="col-sm-2 control-label">Monthly Rent:</label>
									<div class="col-sm-3">
										<input type="text" ng-pattern=/[0-9]/ class="form-control input-sm" name="monthlyRent" ng-model="property.details.monthlyRent" ng-required="property.details.mode==='Rent'" placeholder="Rent">
										<p ng-show="form1.submitted && form1.monthlyRent.$error.required" class="label errorText">enter monthly rent</p>
										<p ng-show="form1.monthlyRent.$error.pattern" class="label errorText">enter valid monthly rent</p>
									</div>
									<label class="col-sm-2 control-label">Deposit:</label>
									<div class="col-sm-3">
										<input type="text" class="form-control input-sm" name="deposit" ng-model="property.details.deposit" ng-required="false" placeholder="Deposit">
										<p ng-show="form1.deposit.$invalid && (!form1.deposit.$pristine || form1.submitted)" class="label errorText">enter deposit</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label"></label>
									<div class="col-sm-2">
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" ng-model="property.details.allowNonVeg">Allow Non-veg
											</label>
										</div>
									</div>
									<div class="col-sm-2">
										<div class="checkbox-inline">
											<label>
												<input type="checkbox" ng-model="property.details.allowPets">Allow Pets
											</label>
										</div>
									</div>
									<label class="col-sm-2 control-label">Preferred Tenant:</label>
									<div class="col-sm-2">
										<select class="form-control input-sm" ng-model="property.details.preferredTenant">
											<option>No Restriction</option>
											<option>Family</option>
											<option>Bachelor</option>
										</select>
									</div>
								</div>

								<div class="form-group" ng-show="property.user.type==='Agent'">
									<label class="col-sm-2 control-label">Commition in Days:</label>
									<div class="col-sm-3">
										<select class="form-control input-sm" name="commitionInDays" ng-model="property.details.commitionInDays" ng-required="false">
											<option>1/2 Month Rent</option>
											<option>1 Month Rent</option>
											<option>1 1/2 Month Rent</option>
											<option>Others</option>
										</select>
										<p ng-show="form1.commitionInDays.$invalid && (!form1.commitionInDays.$pristine || form1.submitted)" class="label errorText">select commition in days</p>
									</div>
									<div class="col-sm-2" ng-show="property.details.commitionInDays==='Others'">
										<input type="number" class="form-control input-sm" ng-model="property.details.fixedPrice" placeholder="Fixed Price">
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-info" ng-click="form1.submitted=true;showForm2=form1.$valid;showForm1=!form1.$valid">Next</button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" role="form"  ng-show="showForm2">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Specifications</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Balconies</label>
                                <div class="col-sm-1">
                                    <select class="form-control input-sm" ng-model="property.specifications.balconies">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Additional rooms</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.additionalRooms">
                                        <option>puja</option>
                                        <option>study</option>
                                        <option>Dining</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control input-sm" ng-model="property.specifications.otherRoom" placeholder="Other room">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Directional facing</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.directionalFacing">
                                        <option>east</option>
                                        <option>west</option>
                                        <option>South</option>
                                    </select>
                                </div>
                                <label class="col-sm-2 control-label">Facing</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.facing">
                                        <option>Pool</option>
                                        <option>Main Road</option>
                                        <option>Garden</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-model="property.specifications.otherRoom" placeholder="Other room">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-2">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio">Furnished
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio">Semi-Furnished
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-model="property.specifications.floorNumber" placeholder="Floor Number">
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-sm" ng-model="property.specifications.totalFloor" placeholder="Total Floors">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Parking Covered</label>
                                <div class="col-sm-10 coveredun">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" value="">2 wheeler</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="twowheeler" ng-model="property.specifications.parking.twoWheeler.covered" id="covered1" value="covered">covered
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="twowheeler" id="uncovered1" ng-model="property.specifications.parking.twoWheeler.uncovered" value="uncovered">uncovered
                                        </label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" name="twowheeler" id="common1" ng-model="property.specifications.parking.twoWheeler.common" value="common" checked>common
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10 coveredun">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" value="">4 wheeler</label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="fourwheeler" id="covered2" ng-model="property.specifications.parking.fourWheeler.covered" value="covered">covered
                                        </label>
                                    </div>
                                    <div class="radio-inline">
                                        <label>
                                            <input type="radio" name="fourwheeler" id="uncovered2" ng-model="property.specifications.parking.fourWheeler.uncovered" value="uncovered">uncovered
                                        </label>
                                    </div>
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" name="fourwheeler" id="common2" ng-model="property.specifications.parking.fourWheeler.common" value="common" checked>common
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" ng-model="property.specifications.parking.fourWheelerVisitors" value="true">4 Wheeler Visitors</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Type of electricity</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.typeOfElectricity">
                                        <option>phase I</option>
                                        <option>phase II</option>
                                        <option>phase III</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" ng-model="property.specifications.generatorBackup">Generator Backup
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-2 control-label">Security Systems</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.securitySystem">
                                        <option>fire alarm</option>
                                        <option>burglar alarm</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Vastu Compliant</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.vastu">
                                        <option>Yes</option>
                                        <option>No</option>
                                        <option>Not Sure</option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox-inline">
                                        <label>
                                            <input type="checkbox" ng-model="property.specifications.gatedCommunity">Gated Community
                                        </label>
                                    </div>
                                </div>

                                <label class="col-sm-2 control-label">Flooring</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="property.specifications.flooring">
                                        <option>Marble</option>
                                        <option>Normal Tiles</option>
                                        <option>Vitrified Tiles</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Property Brief Description</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" ng-model="property.specifications.briefDescription"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>Amenities</strong>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.24HRBackup">24Hr backup
                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.airConditioned">Air conditioned
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.badmintonCourt">Badminton court
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.bankATM">Bank/ATM
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.banquestHall">Banquest Hall
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.barLounge">Bar/Lounge
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.basketballCourt">Basketball court
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.cafetariaFoodCourt">Cafeteria/Food Court
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.clubHouse">Club house
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.communityHall">Community Hall
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.conferenceRoom">Conference Room
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.DTHTelevisionFacility">DTH Television Facility
                                        </label>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.gatedCommunity">Gated Community
                                        </label>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.generatorBackup">Generator Backup
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.gym">Gym
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.healthFacilities">Health Facilities
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.intercom">Intercom
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.internetWifi">Internet/wifi
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.laundryService">Laundry service
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.library">Library
                                        </label>
                                    </div>
                                </div><div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.lift">Lift
                                        </label>
                                    </div>
                                </div><div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.maintenanceStaff">Maintenance staff
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.park">Park
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.pipedGas">Piped Gas
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.playArea">Play area
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.powerBackup">Power backup
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.privateTerraceGarden">Private Terrace/Garden
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.rainWaterHarvesting">Rain water harvesting
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.recreationFacilities">Recreation facilities
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.ROWaterSystem">RO water system
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.security">Security
                                        </label>
                                    </div>
                                </div><div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.serviceGoodsLift">Service/Goods lift
                                        </label>
                                    </div>
                                </div><div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.swimmingPool">Swimming pool
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.temple">Temple
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.tennisCourt">Tennis Court
                                        </label>
                                    </div>
                                </div>
                                 <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.vaastuCompliant">Vaastu compliant
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.wasteDisposal">Waste Disposal
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="checkbox-inline">
                                        <label>
                                                <input type="checkbox" ng-model="property.amenities.waterStorage">Water storage
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-info" ng-click="showForm2=false;showForm1=!showForm2;">Previous</button>
                        <button type="button" class="btn btn-info" ng-click="showForm2=false;showForm3=!showForm2;">Next</button>
                    </div>
                </div>
            </form>

            <form class="form-horizontal" role="form"  ng-show="showForm3">
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading"><strong>photos and map</strong>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <label for="exampleInputFile">Upload Photos</label>
                                <!--<input type="file" id="exampleInputFile"> -->
                                <div style="position:relative;">
                                    <a class='btn btn-primary btn-sm' href='javascript:;'>
										Choose File...
										<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
									</a>
                                    &nbsp;
                                    <span class='label label-info' id="upload-file-info"></span>
                                </div>
                                <p>You can upload upto 10 photos</p>
                                <div class="upload-img">
                                    <img src="images/list1.png" alt="..." class="img-thumbnail">
                                    <img src="images/list1.png" alt="..." class="img-thumbnail">
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="exampleInputFile">Map</label>
                                <div class="map" id="map"></div>
                            </div>
                        </div>
                        <!-- <div class="panel-footer text-right"><button class="btn btn-default">Submit</button></div> -->
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-info" ng-click="showForm3=false;showForm2=true;">Previous</button>
                        <button class="btn btn-info" ng-click="registerProperty();">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>​
